Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

.lintstagedrc.yml:

'*': 'sh scripts/license/stamp.sh'
# p1,p2,p3 are dummy extensions to allow multiple commands for the same extensions
'*.{ts,tsx,p1}': 'prettier --check'
'*.{ts,tsx,p2}': 'eslint --rulesdir ./scripts/eslint-rules'
'*.{ts,tsx,p3}': 'sh scripts/typecheck-staged.sh'
'*.scss,p1': 'stylelint --max-warnings 0'
'*.scss,p2': 'prettier --check'
'strings.*.yaml': 'yarn strings:check'
'webpack.devServerProxy.config.js': "echo 'Changes to proxy config should not be committed' && exit 1"
'*.i18n.ts': 'exit 1'

feat: [IDP-1843]: Create catalog and Notify IDP slack step added (#19396)
  src/modules/10-common/strings/strings.en.yaml
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/75-ce/strings/strings.en.yaml
  src/modules/75-idp/components/PipelineSteps/CreateCatalogStep/CreateCatalogStep.tsx
  src/modules/75-idp/components/PipelineSteps/CreateCatalogStep/CreateCatalogStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/CreateCatalogStep/CreateCatalogStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/CreateCatalogStep/CreateCatalogStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/SlackNotifyStep/SlackNotifyStep.tsx
  src/modules/75-idp/components/PipelineSteps/SlackNotifyStep/SlackNotifyStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/SlackNotifyStep/SlackNotifyStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/SlackNotifyStep/SlackNotifyStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/index.ts
  src/modules/75-idp/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-86532]: edit account / org remote infra in pipeline studio (#19397)
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/BootstrapDeployInfraDefinition.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-84072]: hiding the newly added default settings after product feedback (#19401)
  src/modules/10-common/constants/Utils.ts
  src/modules/27-platform/default-settings/RouteDestinations.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-86593]: added null check for template header bi-directional sync (#19402)
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioSubHeader/TemplateStudioSubHeader.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86611]: Return if same manifest is selected, and re-render connector field if Runtime is changes (#19398)
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ManifestStore.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86740]: avoid data mutation in groupNodeData by passing it in condition when required (#19386)
  src/modules/70-pipeline/utils/executionUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85371]: fix incorrect url to override section in secret references (#19357)
  src/modules/10-common/RouteDefinitionsV2.ts
  src/modules/10-common/hooks/useGetEntityMetadata.tsx
  src/modules/10-common/pages/entityUsage/views/EntityUsageListView/EntityUsageList.tsx
  src/modules/27-platform/secrets/pages/secretReferences/__tests__/SecretOverrideReferences.test.tsx
  src/modules/27-platform/secrets/pages/secretReferences/__tests__/SecreteReferences.mock.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10237]: error handling in use edit flag modal (#19389)
  src/modules/75-cf/components/FlagActivation/hooks/__tests__/useEditFlagDetailsModal.test.tsx
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-85987]: remove ff CDS_BASIC_ASG (#19284)
  src/modules/10-common/featureFlags.ts
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStepEdit.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStepInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/__tests__/AsgBlueGreenDeployEdit.test.tsx
  src/modules/75-cd/components/PipelineSteps/AsgCanaryDeploy/AsgCanaryDeployStep.tsx
  src/modules/75-cd/components/PipelineSteps/AsgCanaryDeploy/__tests__/AsgCanaryDeploy.test.tsx
  src/modules/75-cd/components/PipelineSteps/AsgInfraSpec/AsgInfraSpecEditable.tsx
  src/modules/75-cd/components/PipelineSteps/AsgInfraSpec/AsgInfraSpecInputForm.tsx
  src/modules/75-cd/components/PipelineSteps/AsgInfraSpec/__tests__/AsgInfraSpecInputForm.test.tsx
  src/modules/75-cd/components/PipelineSteps/AsgRollingDeployStep/AsgRollingDeployStep.tsx
  src/modules/75-cd/components/PipelineSteps/PipelineStepsUtil.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [code-1155]: add harness support for triggers (#19206)
  src/modules/10-common/interfaces/RouteInterfaces.ts
  src/modules/72-triggers/components/ConnectorSection/ConnectorSection.tsx
  src/modules/72-triggers/components/Triggers/TriggerInterface.tsx
  src/modules/72-triggers/components/Triggers/WebhookTrigger/Harness/Harness.tsx
  src/modules/72-triggers/components/Triggers/WebhookTrigger/WebhookTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/WebhookTrigger/utils.tsx
  src/modules/72-triggers/components/Triggers/utils.tsx
  src/modules/72-triggers/components/steps/WebhookConditionsPanel/WebhookConditionsPanel.tsx
  src/modules/72-triggers/components/steps/WebhookTriggerConfigPanel/WebhookTriggerConfigPanel.tsx
  src/modules/72-triggers/components/steps/WebhookTriggerConfigPanel/useGetHarnessReposList.tsx
  src/modules/72-triggers/components/steps/utils.tsx
  src/modules/72-triggers/factory/TriggerFactory.tsx
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerLandingPage.tsx
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
  src/modules/72-triggers/pages/triggers/__tests__/TriggerCatalogResponseMockData.ts
  src/modules/72-triggers/pages/triggers/__tests__/TriggersListUtils.test.ts
  src/modules/72-triggers/pages/triggers/__tests__/TriggersWizardPage.test.tsx
  src/modules/72-triggers/pages/triggers/__tests__/WebhookConditionsPanel.test.tsx
  src/modules/72-triggers/pages/triggers/__tests__/WebhookTriggerConfigPanel.test.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggerCatalogDrawer.test.tsx.snap
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/WebhookConditionsPanel.test.tsx.snap
  src/modules/72-triggers/pages/triggers/__tests__/sharedMockResponses.ts
  src/modules/72-triggers/pages/triggers/utils/TriggersListUtils.ts
  src/modules/72-triggers/pages/triggers/utils/TriggersWizardPageUtils.ts
  src/modules/72-triggers/pages/triggers/utils/WebhookTriggerConfigPanelUtils.tsx
  src/modules/72-triggers/pages/triggers/views/ConnectorSection.tsx
  src/modules/72-triggers/pages/triggers/views/TriggersListSection.tsx
  src/modules/72-triggers/pages/triggers/views/WebhookConditionsPanel.tsx
  src/modules/72-triggers/pages/triggers/views/WebhookTriggerConfigPanel.tsx
  src/services/pipeline-ng/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86514]: Unselect scope to specific services in infra definition modal does not work (#19408)
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/BootstrapDeployInfraDefinition.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85994]: Fixed input set long name overlapping issue (#19410)
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.module.scss
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.module.scss.d.ts
  src/modules/70-pipeline/components/InputSetForm/InputSetFormHeader.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86520]: added support for remote fetch error for service in run pipeline form (#19438)
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/useGetServicesData.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86866]: Increases default page size for infra definitions listing page to 1000 (#19425)
  cypress/integration/72-templates-library/InfrastructureUsingDT.spec.ts
  cypress/support/72-templates-library/constants.ts
  cypress/support/75-cd/constants.ts
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/InfrastructureDefinition.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86786]: send folder_paths in the update call for enabled status (#19444)
  src/modules/70-pipeline/pages/webhooks/WebhookDetails/WebhookLandingPage.tsx
  src/modules/70-pipeline/pages/webhooks/WebhookDetails/__tests__/WebhookLandingPage.test.tsx
  src/modules/70-pipeline/pages/webhooks/WebhooksList/WebhooksList.tsx
  src/modules/70-pipeline/pages/webhooks/WebhooksList/WebhooksListColumns.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SRM-16357]: Add Change Source section in Inputset (#19419)
  src/modules/85-cv/assets/Running.svg
  src/modules/85-cv/components/MonitoredServiceListWidget/components/CommonMonitoredServiceDetails/__tests__/CommonMonitoredServiceDetails.test.tsx
  src/modules/85-cv/components/MonitoredServiceTemplate/components/__tests__/MonitoredServiceTemplateCanvas.test.tsx
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/components/PagerDutyChangeSource/PagerDutyChangeSource.tsx
  src/modules/85-cv/pages/monitored-service/CVMonitoredService/CVMonitoredService.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.types.ts
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.utils.ts
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/__tests__/MonitoredServiceInputSetsTemplate.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/__tests__/__snapshots__/MonitoredServiceInputSetsTemplate.test.tsx.snap
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/ChangeSourceInputset.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/ChangeSourceInputsetForm/ChangeSourceInputsetForm.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/ChangeSourceInputsetForm/__tests__/ChangeSourceInputsetForm.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/ChangeSourcetable/ChangeSourcetable.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/__tests__/ChangeSourceInputset.mock.ts
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/ChangeSourceInputset/__tests__/ChangeSourceInputset.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/HealthSourceInputset/components/MetricDefinitionInptsetForm/MetricDefinitionInptsetForm.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/__tests__/Configurations.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/__tests__/ConfigurationsRedirect.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/__tests__/ConfigurationsTemplate.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/__tests__/ChangeSource.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/__tests__/Service.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/CommonMonitoredServiceConfigurations/CommonMonitoredServiceConfigurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.utils.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceForm.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInMS.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInTemplate.tsx
  src/modules/85-cv/pages/monitored-service/components/__tests__/MonitoredService.test.tsx
  src/modules/85-cv/strings/strings.en.yaml
  src/services/cv/index.tsx
  src/services/cv/swagger.json
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-86829]: Fix Styling - file path should be wrapped. its goin… (#19442)
  src/modules/70-pipeline/components/ConfigFilesSelection/ConfigFilesListView/LocationValue.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestListViewMultiple.module.scss
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestMultiAttach.tsx
  src/modules/70-pipeline/components/ManifestSelection/__tests__/__snapshots__/ManifestSelection.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86670]: Handled invalid yaml for ServiceOverrides (#19385)
  src/modules/10-common/strings/strings.en.yaml
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/ServiceOverrides.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat:[PL-41893]: Public Access with NewNav (#18458)
  src/framework/components/PublicAccess/PageNotPublic.module.scss
  src/framework/components/PublicAccess/PageNotPublic.module.scss.d.ts
  src/framework/components/PublicAccess/PageNotPublic.tsx
  src/modules/10-common/interfaces/RouteInterfaces.ts
  src/modules/10-common/layouts/DefaultLayout.tsx
  src/modules/10-common/layouts/__tests__/DefaultLayout.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.module.scss
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.module.scss.d.ts
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooterPublic.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/__tests__/SideNavFooter.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavHeader/SideNavHeaderPublic.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavHeader/__tests__/SideNavHeader.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavV2.module.scss
  src/modules/10-common/navigation/SideNavV2/SideNavV2.module.scss.d.ts
  src/modules/10-common/navigation/SideNavV2/SideNavV2.tsx
  src/modules/10-common/router/RouteWithContext/RouteWithContext.tsx
  src/modules/10-common/router/RouteWithLayout.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/70-pipeline/PipelineRouteDestinations.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [IDP-1468]: rbac categories and permissions added for idp (#19447)
  src/modules/10-common/strings/strings.en.yaml
  src/modules/20-rbac/interfaces/PermissionIdentifier.ts
  src/modules/20-rbac/interfaces/ResourceType.ts
  src/modules/20-rbac/strings/strings.en.yaml
  src/modules/75-cf/strings/strings.en.yaml
  src/modules/75-idp/RouteDestinations.tsx
  src/modules/75-idp/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [PL-42879]: show org when create project inside org (#19336)
  src/modules/45-projects-orgs/modals/ProjectModal/views/CreateProject.tsx
  src/modules/45-projects-orgs/modals/ProjectModal/views/__tests__/CreateProject.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86711]: branch change doesn't work after service update (#19443)
  src/modules/75-cd/components/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.tsx
  src/modules/75-cd/context/ServiceContext.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86366]: Remove error tracking code in log analysis (#19384)
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysisView.container.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/LogAnalysisRow.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/LogAnalysisRow.utils.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/__tests__/LogAnalysisRow.test.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/__tests__/LogAnalysisRow.utils.test.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/components/LogAnalysisDataRow/LogAnalysisDataRow.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRow/components/LogAnalysisDataRow/LogAnalysisDataRow.utils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [IDP-1468]: microfrontend version bump to get latest idp permissions and resource type (#19448)
  src/microfrontends/package.json
Due: sh scripts/license/stamp.sh

feat: [CI-10684]: CI gitness integration with new UX (#19348)
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.module.scss
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.module.scss.d.ts
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.tsx
  src/modules/10-common/components/GitProviderSelect/__tests__/GitProviderSelect.test.tsx
  src/modules/10-common/components/GitProviderSelect/__tests__/__snapshots__/GitProviderSelect.test.tsx.snap
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss
  src/modules/27-platform/connectors/components/ConnectorReferenceField/ConnectorReferenceField.module.scss.d.ts
  src/modules/27-platform/connectors/components/ConnectorReferenceField/FormMultiTypeGitProviderAndConnector.tsx
  src/modules/27-platform/connectors/components/ConnectorReferenceField/__tests__/FormMultiTypeGitProviderAndConnectors.test.tsx
  src/modules/27-platform/connectors/components/ConnectorReferenceField/__tests__/__snapshots__/FormMultiTypeGitProviderAndConnectors.test.tsx.snap
  src/modules/70-pipeline/components/InputSetForm/FormikInputSetForm.tsx
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.module.scss
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.utils.ts
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/__tests__/CloneCodebaseForm.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/__tests__/__snapshots__/CloneCodebaseForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.module.scss
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBar.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/RightBar/__test__/RightBar2.test.tsx
  src/modules/70-pipeline/utils/types.ts
  src/modules/75-ci/components/PipelineSteps/CIStep/CIStep.tsx
  src/modules/75-ci/components/PipelineSteps/GitCloneStep/__test__/GitCloneStep.test.tsx
  src/modules/75-ci/components/PipelineSteps/GitCloneStep/__test__/mock.ts
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/EditStageView.mock.ts
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/EditStageView.test.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/__tests__/__snapshots__/EditStageView.test.tsx.snap
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [FFM-10284]: Update FF React Client SDK to 1.6.0 and enable caching (#19450)
  configs/webpack.dev.js
  docker/entrypoint.sh
  package.json
  src/framework/FeatureFlags/FeatureFlagsProvider.tsx
  src/framework/FeatureFlags/__tests__/FeatureFlagsProvider.test.tsx
  src/global.d.ts
  src/index.html
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-86589]: remove ff CDS_OCI_HELM_ECR_CONFIG_SUPPORT_NG (#19422)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ManifestStore.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86780]: Change text Setup to set up as per Docs team (#19418)
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/strings/strings.en.yaml
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/72-templates-library/strings/strings.en.yaml
  src/modules/75-cd/strings/strings.en.yaml
  src/modules/75-ce/strings/strings.en.yaml
  src/modules/75-ci/strings/strings.en.yaml
  src/modules/85-cv/strings/strings.en.yaml
Due: sh scripts/license/stamp.sh, yarn strings:check

fix: [CHAOS-3462]: fixed the routes for service discovery module and switch routes based on FF (#19446)
  src/modules/10-common/RouteDefinitionsV2.ts
  src/modules/45-projects-orgs/components/SettingsPageComponent/ProjectSettingsPage.tsx
  src/modules/73-discovery/SettingsRouteDestinations.tsx
  src/modules/73-discovery/components/DiscoveryAgentTable/DiscoveryAgentTable.tsx
  src/modules/73-discovery/pages/discovery-details/DiscoveryDetails.tsx
  src/modules/73-discovery/pages/discovery-details/views/discovered-resources/tableView/DiscoveredServices.tsx
  src/modules/73-discovery/pages/discovery-details/views/network-map/EmptyStateNetworkMap.tsx
  src/modules/73-discovery/pages/discovery-details/views/network-map/NetworkMapTable.tsx
  src/modules/73-discovery/pages/network-map-studio/NetworkMapStudio.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-83555]: Update Shell Script optional configuration (#18999)
  src/modules/10-common/utils/utils.ts
  src/modules/27-platform/connectors/interfaces/ConnectorInterface.ts
  src/modules/27-platform/secrets/components/ScriptVariableRuntimeInput/ScriptVariablesRuntimeInput.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomApproval/OptionalConfiguration.tsx
  src/modules/70-pipeline/utils/runPipelineUtils.ts
  src/modules/72-templates-library/components/TemplateStudio/__tests__/stateMock.ts
  src/modules/75-cd/components/BaseScript/BaseScript.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ExecutionTargetGroup.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/OptionalConfiguration.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptInputSetStep.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptStep.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptWidget.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ExecutionTargetGroup.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ShellScriptStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/__snapshots__/ExecutionTargetGroup.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/exportvars.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/helper.ts
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateCanvas.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/BaseScriptForm.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/OptionalConfigurations.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/ScriptTemplateForm.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/BaseScriptForm.test.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/OptionalConfiguration.test.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/__snapshots__/BaseScriptForm.test.tsx.snap
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/__snapshots__/OptionalConfiguration.test.tsx.snap
  src/modules/75-cd/components/ScriptTemplateCanvas/__tests__/ScriptTemplateCanvas.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86979]: add default layout in test wrapper (#19452)
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/__tests__/SideNavFooter.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavHeader/__tests__/SideNavHeader.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavLink/__tests__/SideNavLink.test.tsx
  src/modules/10-common/router/RouteWithLayoutV2.tsx
  src/modules/10-common/utils/testUtils.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86708]: Add Scoped Service Url in Pipeline (#19417)
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/CDExecutionSummary.tsx
  src/modules/70-pipeline/utils/__tests__/scopedUrlUtils.test.ts
  src/modules/70-pipeline/utils/scopedUrlUtils.ts
  src/modules/75-cd/components/CDExecutionSummary/ServicesList.tsx
  src/modules/75-cd/components/CDStageDetails/CDStageDetails.tsx
  src/modules/75-cd/components/DashboardList/DashboardList.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/ServiceEntitiesList/ServiceEntityCard.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/DeployServiceEntityWidget.MultiService.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/__snapshots__/DeployServiceEntityWidget.MultiService.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/__snapshots__/DeployServiceEntityWidget.SingleService.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/services.json
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/__tests__/servicesMetadata.json
  src/modules/75-cd/components/ServiceDetails/ServiceDetailsHeader/ServiceDetailsHeader.tsx
  src/modules/75-cd/components/Services/ServicesList/ServicesList.tsx
  src/modules/75-cd/components/Services/ServicesListColumns/ServicesListColumns.tsx
  src/modules/75-cd/components/Services/ServicesListPage/ServicesListPage.tsx
  src/modules/75-cd/components/Services/utils/ServiceUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SRM-16357]: Updated MS post Reconcile template (#19449)
  src/modules/85-cv/pages/monitored-service/components/Configurations/ConfigurationContext.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/Configurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/CommonMonitoredServiceConfigurations/CommonMonitoredServiceConfigurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInMS.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInTemplate.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CI-10611]: do not fetch default branches for codebase input in executions inputs view (#19394)
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [IAC-1330]: enable IACM stages within CI (#19461)
  src/modules/70-pipeline/components/PipelineStudio/PipelineStagesUtils.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86999]: Account overview v2 in new nav and removed feature flag (#19458)
  src/modules/45-projects-orgs/RouteDestinations.tsx
  src/modules/45-projects-orgs/pages/LandingDashboardPage/LandingDashboardPage.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-81990]: Hiding links in all modules if not available in scope (#19326)
  src/modules/10-common/components/ModeSelector/ModeSelector.tsx
  src/modules/10-common/components/ModeSelector/__tests__/ModeSelector.test.tsx
  src/modules/10-common/navigation/SideNavV2/ModulesAccordion/ModulesAccordion.tsx
  src/modules/10-common/navigation/SideNavs/AllModeSideNav/__tests__/AllModeSideNav.test.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [FFM-4356]: remove feature flag FF_GITSYNC (#19412)
  src/modules/10-common/featureFlags.ts
  src/modules/75-cf/hooks/__tests__/useGitSync.test.tsx
  src/modules/75-cf/hooks/useGitSync.tsx
  src/modules/75-cf/pages/feature-flags/FeatureFlagsLandingPage.tsx
  src/modules/75-cf/pages/feature-flags/__tests__/FeatureFlagsLandingPage.test.tsx
  src/modules/75-cf/pages/target-detail/components/FlagSettings/__tests__/FlagSettings.GitSync.test.tsx
  src/modules/75-cf/pages/target-group-detail/components/FlagSettingsPanel/__tests__/FlagSettingsPanel.GitSync.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85862]: Refactors logic to make infrastructure input independent of Env when it is configured as runtime (#19350)
  src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm/EnvironmentsInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/EnvironmentsInputSetForm/SingleEnvironmentInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/StageInputSetForm.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironment/DeployEnvironment.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironmentEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployInfrastructure/DeployInfrastructure.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/types.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/singleEnvironment/__tests__/utils.singleEnvironment.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/singleEnvironment/processSingleEnvironmentFormValues.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/singleEnvironment/processSingleEnvironmentInitialValues.ts
  src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep/DeployInfrastructureEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployInfrastructureEntityStep/types.ts
  src/modules/75-cd/components/PipelineStudio/DeployEnvSpecifications/DeployEnvSpecifications.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85170]: Removed isOnPrem conditions from subscriptions and plans (#19463)
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/SubscriptionDetailsCardFooter.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/plans/PlanContainer.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh
