Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

fix: [CDS-87214]: Removing Help section from new nav in public access (#19547)
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooterPublic.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/__tests__/SideNavFooter.test.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavV2.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [PLG-3123]: updating validations (#19570)
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/StepValidations.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84822]: multiline expression inputs for cv (#19510)
  src/modules/85-cv/components/PipelineSteps/AnalyzeDeploymentImpact/components/AnalyzeDeploymentImpactInputSetStep/AnalyzeDeploymentImpactInputSetStep.tsx
  src/modules/85-cv/components/PipelineSteps/AnalyzeDeploymentImpact/components/AnalyzeDeploymentImpactWidget/components/AnalyzeDeploymentImpactWidgetSections/components/BaseAnalyzeDeploymentImpact/BaseAnalyzeDeploymentImpact.tsx
  src/modules/85-cv/components/PipelineSteps/AnalyzeDeploymentImpact/components/AnalyzeDeploymentImpactWidget/components/AnalyzeDeploymentImpactWidgetSections/components/ConfiguredMonitoredService/ConfiguredMonitoredService.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationInputSetStep/ContinousVerificationInputSetStep.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationInputSetStep/components/ConfiguredRunTimeMonitoredService/ConfiguredRunTimeMonitoredService.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationInputSetStep/components/TemplatisedRunTimeMonitoredService/TemplatisedRunTimeMonitoredService.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/BaseContinousVerification/BaseContinousVerification.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfigureFields/ConfigureFields.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfigureFields/components/NodeFilteringFields/NodeFilteringFieldsDetail.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfiguredMonitoredService/ConfiguredMonitoredService.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/SelectMonitoredServiceType/components/MonitoredServiceInputTemplatesHealthSources/MonitoredServiceInputTemplatesHealthSources.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/SelectMonitoredServiceType/components/MonitoredServiceInputTemplatesHealthSourcesVariables/MonitoredServiceInputTemplatesHealthSourcesVariables.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/VerificationJobFields/VerificationJobFields.tsx
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/components/PagerDutyChangeSource/PagerDutyChangeSource.tsx
  src/modules/85-cv/pages/health-source/HealthSourceDrawer/component/defineHealthSource/DefineHealthSource.tsx
  src/modules/85-cv/pages/health-source/common/CustomMetricV2/components/HealthSourceServicesV2/components/ServiceInstance.tsx
  src/modules/85-cv/pages/health-source/common/SelectHealthSourceServices/SelectHealthSourceServices.tsx
  src/modules/85-cv/pages/health-source/connectors/AppDynamics/Components/AppDCustomMetricForm/AppDCustomMetricForm.tsx
  src/modules/85-cv/pages/health-source/connectors/AppDynamics/__tests__/AppDMonitoredSource.test.tsx
  src/modules/85-cv/pages/health-source/connectors/AppDynamics/__tests__/AppDMonitoredSourceTemplate.test.tsx
  src/modules/85-cv/pages/health-source/connectors/CommonHealthSource/components/CustomMetricForm/components/Assign/components/RiskProfile/components/ServiceInstance/components/ServiceInstanceTextInput.tsx
  src/modules/85-cv/pages/health-source/connectors/CommonHealthSource/components/CustomMetricForm/components/CommonCustomMetricFormContainer/CommonCustomMetricFormContainerLayout/components/CommonHealthSourceField/CommonHealthSourceField.tsx
  src/modules/85-cv/pages/health-source/connectors/PrometheusHealthSource/tests/PrometheusHealthSource.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CCM-15387]: GCP Support Governance (#19506)
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/connectors/common/RequirementCard/RequirementCard.tsx
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/CreateCeGcpConnector.module.scss
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/CreateCeGcpConnector.module.scss.d.ts
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/__tests__/CreateCeGcpConnector.test.tsx
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/__tests__/__snapshots__/CreateCeGcpConnector.test.tsx.snap
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/steps/ChooseRequirements.tsx
  src/modules/27-platform/connectors/components/CreateConnector/CEGcpConnector/steps/GrantPermission.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-84916]:Winrm-ssh-errorhandler-credentials (#19564)
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/CreateSSHCredWizard.tsx
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/__test__/__snapshots__/CreateSSHCredWizard.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/__test__/useVerifyModal.test.tsx
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/useVerifyModal.tsx
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/views/StepDetails.module.scss
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/views/StepDetails.module.scss.d.ts
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/views/StepVerify.tsx
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/views/VerifyConnection.tsx
  src/modules/27-platform/secrets/modals/CreateSSHCredModal/views/VerifySecret.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/CreateWinRmCredWizard.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/__test__/CreateWinRmCredWizard.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/__test__/__snapshots__/CreateWinRmCredWizard.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/__test__/useVerifyModal.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/useVerifyModal.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/StepDetails.module.scss
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/StepDetails.module.scss.d.ts
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/StepVerify.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/VerifyConnection.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/VerifySecret.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/StepDetails.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/StepVerify.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/VerifyConnection.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/VerifySecret.test.tsx
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/__snapshots__/StepDetails.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/__snapshots__/StepVerify.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/__snapshots__/VerifyConnection.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateWinRmCredModal/views/__test__/__snapshots__/VerifySecret.test.tsx.snap
  src/modules/27-platform/secrets/pages/secretDetails/views/ViewSecretDetails.tsx
  src/modules/27-platform/secrets/pages/secrets/views/SecretsListView/SecretsList.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PLG-3016]: passing prg id and project id context (#19557)
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/DeploymentSetupSteps/CodeBaseSetup.tsx
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/DeploymentSetupSteps/K8sCommands.tsx
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/utils.ts
  src/modules/75-cd/strings/strings.en.yaml
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [STO-6824]: STO Frontend Gating by CI Free (#19498)
  src/modules/45-projects-orgs/components/Menu/ContextMenu.tsx
  src/modules/45-projects-orgs/components/ModuleRenderer/DefaultRenderer.tsx
  src/modules/45-projects-orgs/modals/ModuleSelect/useModuleSelect.tsx
  src/modules/45-projects-orgs/pages/projects/views/ProjectListView/ProjectListView.tsx
  src/modules/70-pipeline/components/ExecutionCard/ExecutionCard.tsx
  src/modules/70-pipeline/pages/execution/ExecutionLandingPage/ExecutionTabs/ExecutionTabs.tsx
  src/modules/72-templates-library/components/TemplateStudio/StepGroupTemplateCanvas/StepGroupTemplateDiagram/StepGroupTemplateDiagram.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateContext/TemplateContext.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-80644]: move inline env to remote support (#19320)
  src/modules/70-pipeline/components/MigrateResource/MoveResource.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/EnvironmentDetails.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentsList/EnvironmentsList.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentsList/EnvironmentsListColumns.tsx
  src/services/cd-ng/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85354]: zoom to fit button in pipeline execution issue (#19578)
  src/modules/70-pipeline/components/PipelineDiagram/PipelineGraph/PipelineGraph.tsx
  src/modules/70-pipeline/components/PipelineDiagram/PipelineGraph/PipelineGraphUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-87477]: Refactors logic to send correct query params for service override list call (#19581)
  src/modules/75-cd/components/ServiceOverrides/context/ServiceOverrideContext.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-87157]: Refactors logic to evaluate build detail options to ensure stale data is not used by component (#19574)
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/CustomArtifactSource/CustomArtifactSource.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-81291]: Add create and edit as separate Rbac permissions for OPA (#18618)
  src/modules/20-rbac/interfaces/PermissionIdentifier.ts
  src/modules/25-governance/RouteDestinations.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SSCA-1130]: Update Path Prefix for Base Url (#19579)
  src/framework/hooks/useOpenAPIClients.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SSCA-1146]: Enable option for text based private key if secret… (#19576)
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/__test__/BuildStageSetupShell.test.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStageSpecifications/BuildStageSpecifications.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStageSpecifications/__test__/BuildStageSpecifications.test.tsx
  src/modules/75-ssca/components/PipelineSteps/SlsaVerificationStep/SlsaVerificationStepEdit.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/CdSscaEnforcementStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/CdSscaOrchestrationStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/SlsaVerificationStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/SscaEnforcementStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/SscaOrchestrationStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepEdit.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaOrchestrationStepEdit.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-87398]: Fixing Barrier fetching while creating pipelines (#19585)
  src/modules/70-pipeline/components/PipelineSteps/Steps/Barrier/Barrier.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

Update blue_green_canary_service.yaml
  harness-services/Service/blue_green_canary_service.yaml
Due: sh scripts/license/stamp.sh

Path conditions:
  sh scripts/license/stamp.sh: any of: *
  prettier --check: (any of: *.{ts,tsx,p1}) or (any of: *.scss,p2)
  eslint --rulesdir ./scripts/eslint-rules: any of: *.{ts,tsx,p2}
  sh scripts/typecheck-staged.sh: any of: *.{ts,tsx,p3}
  stylelint --max-warnings 0: any of: *.scss,p1
  yarn strings:check: any of: strings.*.yaml
  echo 'Changes to proxy config should not be committed' && exit 1: any of: webpack.devServerProxy.config.js
  exit 1: any of: *.i18n.ts
