Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

fix: [CDS-84919]: add defaultErrorText in dependency array (#19276)
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/ArtifactImagePathTagView/ArtifactImagePathTagView.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85483]: fixed redirection of not found remote pipeline to be on pipeline studio giving error (#19196)
  src/modules/10-common/hooks/__tests__/useGetEntityMetadata.test.ts
  src/modules/10-common/hooks/useGetEntityMetadata.tsx
  src/modules/10-common/pages/entityUsage/__tests__/EntityUsage.test.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/__tests__/PipelineStageSetupShellView.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvas.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/__tests__/PipelineCanvas.test.tsx
  src/modules/70-pipeline/y1/components/PipelineCanvas/PipelineCanvasY1.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82726]: Added Orgs and projects in different scope for module and all modes (#19145)
  jest.config.js
  src/modules/10-common/navigation/SideNavV2/SideNavV2.tsx
  src/modules/10-common/navigation/SideNavV2/__tests__/SideNavV2.utils.test.tsx
  src/modules/10-common/navigation/SideNavs/AdminSideNav/AdminSideNav.tsx
  src/modules/10-common/navigation/SideNavs/AdminSideNav/__tests__/AdminSideNav.test.tsx
  src/modules/10-common/navigation/SideNavs/AllModeSideNav/AllModeSideNav.tsx
  src/modules/10-common/navigation/SideNavs/AllModeSideNav/__tests__/AllModeSideNav.test.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/38-user-profile/CommonRouteDestinations.tsx
  src/modules/45-projects-orgs/components/ScopeSelector/OrgScopeSelector/OrgScopeSelector.tsx
  src/modules/45-projects-orgs/components/ScopeSelector/ProjectScopeSelector/ProjectScopeSelector.tsx
  src/modules/45-projects-orgs/components/ScopeSelector/ProjectScopeSelector/__test__/ProjectScopeSelector.test.tsx
  src/modules/45-projects-orgs/components/ScopeSelector/ScopeSelector.tsx
  src/modules/45-projects-orgs/pages/organizations/OrganizationsPage.tsx
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.tsx
  src/modules/45-projects-orgs/pages/projects/views/ProjectListView/ProjectListView.tsx
  src/modules/45-projects-orgs/strings/strings.en.yaml
  src/modules/60-code/components/SideNav/CODESideNavLinks.tsx
  src/modules/75-cd/RouteDestinationsV2.tsx
  src/modules/75-cd/components/CDSideNav/CDSideNavLinks.tsx
  src/modules/75-ce/components/CESideNav/CESideNavV2.tsx
  src/modules/75-cet/components/SideNav/CETSideNavLinks.tsx
  src/modules/75-cf/components/SideNav/CFSideNav.tsx
  src/modules/75-chaos/components/ChaosSideNav/ChaosSideNavLinks.tsx
  src/modules/75-ci/components/CISideNav/CISideNavV2.tsx
  src/modules/75-sei/SideNav/NavV2/SEISideNavLinks.tsx
  src/modules/75-ssca/components/SSCASideNavLinks.tsx
  src/modules/85-cv/components/SideNav/CVSideNavLinks.tsx
  src/modules/85-iacm/components/IACMSideNav/Nav2.tsx
  src/modules/85-sto/components/STOSideNav/STOSideNavLinks.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-84490]: update readme file for windows setup (#19279)
  README.md
Due: sh scripts/license/stamp.sh

chore: [CDS-85868]: remove ff CDS_K8S_SERVICE_HOOKS_NG (#19232)
  src/modules/10-common/featureFlags.ts
  src/modules/75-cd/components/PipelineSteps/Common/GenericServiceSpec/GenericServiceSpecEditable.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

techdebt: [CDS-74020]: remove ff CDS_HELM_MULTIPLE_MANIFEST_SUPPORT_NG (#19010)
  cypress/integration/70-pipeline/ServicesV2.spec.ts
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestSelection.tsx
  src/modules/70-pipeline/components/ManifestSelection/__tests__/ManifestSelection.test.tsx
  src/modules/70-pipeline/components/ManifestSelection/__tests__/__snapshots__/ManifestSelection.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/GoogleCloudFunction/GoogleCloudFunctionServiceSpec/__tests__/GoogleCloudFunctionServiceSpecEditable.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/K8sServiceSpec.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/K8sServiceSpec.test.tsx.snap
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/__tests__/DeployStageSetupShell.test.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStageSetupShell/__tests__/__snapshots__/DeployStageSetupShell.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84817]: Added newExpression component in RBAC & Platform components (#19260)
  src/modules/20-rbac/components/NotificationList/NotificationList.tsx
  src/modules/20-rbac/modals/ConfigureNotificationsModal/views/ConfigureMSTeamsNotifications/ConfigureMSTeamsNotifications.tsx
  src/modules/20-rbac/modals/ConfigureNotificationsModal/views/ConfigurePagerDutyNotifications/ConfigurePagerDutyNotifications.tsx
  src/modules/20-rbac/modals/ConfigureNotificationsModal/views/ConfigureSlackNotifications/ConfigureSlackNotifications.tsx
  src/modules/20-rbac/modals/ConfigureNotificationsModal/views/ConfigureWebhookNotifications/ConfigureWebhookNotifications.tsx
  src/modules/27-platform/secrets/components/ScriptVariableRuntimeInput/ScriptVariablesRuntimeInput.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: scoped services selected values while creating infra when user moves between yaml and visual view (#19280)
  src/modules/70-pipeline/components/PipelineStudio/PipelineContext/__tests__/helper.ts
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/BootstrapDeployInfraDefinition.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/__tests__/BootstrapDeployInfraDefinition.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CI-10097]: enable secure connect proxy boolean for git/aws/docker/gcp connectors (#19168)
  src/modules/10-common/components/ConnectivityMode/ConnectivityMode.tsx
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/connectors/components/CreateConnector/commonSteps/ConnectivityModeStep/ConnectivityModeStep.module.scss
  src/modules/27-platform/connectors/components/CreateConnector/commonSteps/ConnectivityModeStep/ConnectivityModeStep.module.scss.d.ts
  src/modules/27-platform/connectors/components/CreateConnector/commonSteps/ConnectivityModeStep/ConnectivityModeStep.tsx
  src/modules/27-platform/connectors/pages/connectors/utils/ConnectorUtils.ts
  src/modules/27-platform/connectors/pages/connectors/utils/__tests__/ConnectorUtils.test.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85297]: Remove error tracking related files in log analysis (#19271)
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.constants.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.module.scss
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.module.scss.d.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.types.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/ErrorTrackingAnalysis.utils.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.mocks.ts
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/ErrorTrackingAnalysis.utils.test.tsx
  src/modules/85-cv/components/ErrorTrackingAnalysis/__tests__/__snapshots__/ErrorTrackingAnalysis.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-78594] add different tooltip id for nexus maven (#19272)
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Nexus3Artifact/Nexus3Artifact.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86218]: Fix copy to clipboard in yaml view (#19292)
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [IDP-1773]: cookiecutter step added (#19288)
  package.json
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/75-idp/IDPAdminRouteDestination.tsx
  src/modules/75-idp/components/IDPStage/index.tsx
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStep.module.scss
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStep.module.scss.d.ts
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStep.tsx
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/index.ts
  src/modules/75-idp/components/PipelineSteps/utils.ts
  src/modules/75-idp/strings/strings.en.yaml
  src/stringTypes.ts
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-83498]: consume RBAC support for CRUD Input Set (#19138)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/InputSetForm/FormikInputSetForm.tsx
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.tsx
  src/modules/70-pipeline/pages/inputSet-list/InputSetList.tsx
  src/modules/70-pipeline/pages/inputSet-list/InputSetListView.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-80836]: remove flaky snapshot and added assertions for command flag (#19301)
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CustomRemoteManifest/CustomRemoteAdvancedStepSection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CustomRemoteManifest/__tests__/CustomRemoteManifest.test.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CustomRemoteManifest/__tests__/__snapshots__/CustomRemoteManifest.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: new side nav for CI trial page reidrct loop (#19298)
  src/modules/75-ci/RouteDestinationsV2.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83638]: fetch repository list for GAR (#19046)
  cypress/fixtures/pipeline/api/triggers/Cypress_Test_Trigger_GAR_Repo.json
  cypress/integration/72-triggers/ArtifactTrigger/ArtifactTriggerConfig.ts
  cypress/integration/72-triggers/ArtifactTrigger/GoogleArtifactRegistryArtifactTrigger.spec.ts
  cypress/integration/72-triggers/constants.ts
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/__tests__/GoogleArtifactRegistry.test.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/__tests__/__snapshots__/GoogleArtifactRegistry.test.tsx.snap
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactUtils.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/72-triggers/components/steps/ArtifactTriggerConfigPanel/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/GoogleArtifactRegistrySource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/GoogleArtifactsRegistrySource.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/__snapshots__/GoogleArtifactsRegistrySource.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/mock.ts
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-79568] add retry interval field in approvals (#19227)
  src/modules/70-pipeline/components/execution/StepDetails/common/StepDetails/StepDetails.tsx
  src/modules/70-pipeline/components/execution/StepDetails/common/StepDetails/_tests__/StepDetails.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-81535]: Filter and pagination support for override v2 (#19209)
  src/modules/10-common/interfaces/RouteInterfaces.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/75-cd/components/ServiceOverrides/EnvironmentServiceSpecificOverrides/__test__/EnvironmentServiceSpecificOverrides.Edit.test.tsx
  src/modules/75-cd/components/ServiceOverrides/EnvironmentServiceSpecificOverrides/__test__/EnvironmentServiceSpecificOverrides.test.tsx
  src/modules/75-cd/components/ServiceOverrides/GlobalEnvironmentOverrides/__test__/GlobalEnvironmentOverrides.Clone.test.tsx
  src/modules/75-cd/components/ServiceOverrides/GlobalEnvironmentOverrides/__test__/GlobalEnvironmentOverrides.test.tsx
  src/modules/75-cd/components/ServiceOverrides/GlobalInfrastructureOverrides/__test__/GlobalInfrastructureOverrides.test.tsx
  src/modules/75-cd/components/ServiceOverrides/InfrastructureServiceSpecificOverrides/__test__/InfrastructureServiceSpecificOverrides.Create.test.tsx
  src/modules/75-cd/components/ServiceOverrides/InfrastructureServiceSpecificOverrides/__test__/InfrastructureServiceSpecificOverrides.test.tsx
  src/modules/75-cd/components/ServiceOverrides/ServiceOverrides.module.scss
  src/modules/75-cd/components/ServiceOverrides/ServiceOverrides.module.scss.d.ts
  src/modules/75-cd/components/ServiceOverrides/ServiceOverrides.tsx
  src/modules/75-cd/components/ServiceOverrides/components/BaseServiceOverrides.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ListRows/Editable/VariableOverrideEditable/__tests__/VariableOverrideEditable.test.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ListRows/ListRows.module.scss
  src/modules/75-cd/components/ServiceOverrides/components/ListRows/ListRows.module.scss.d.ts
  src/modules/75-cd/components/ServiceOverrides/components/ListRows/ListRows.tsx
  src/modules/75-cd/components/ServiceOverrides/components/NewButtonWithSearchFilter/NewButtonWithSearchFilter.tsx
  src/modules/75-cd/components/ServiceOverrides/components/NoServiceOverrides.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFilter.module.scss
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFilter.module.scss.d.ts
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFilter.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFilterForm.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFilterSelector.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/ServiceOverrideFiltersContainer.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/__tests__/ServiceOverrideFiltersContainer.test.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ServiceOverrideFilters/filterUtils.ts
  src/modules/75-cd/components/ServiceOverrides/context/ServiceOverrideContext.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85338]: fix org not visible when cloning pipeline (#19291)
  src/modules/70-pipeline/components/ClonePipelineForm/ClonePipelineForm.test.tsx
  src/modules/70-pipeline/components/ClonePipelineForm/ClonePipelineForm.tsx
  src/modules/70-pipeline/components/ClonePipelineForm/__snapshots__/ClonePipelineForm.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-79479]: resetting jenkins fields when parent fields are changed (#19273)
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactHelper.ts
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GithubPackageRegistry/GithubPackageRegistry.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GithubPackageRegistry/__tests__/GithubPackageRegistry.test.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/JenkinsArtifact/JenkinsArtifact.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86109]:provisioner-step-group-template (#19304)
  src/modules/70-pipeline/components/Provisioner/ProvisionerSelect.tsx
  src/modules/70-pipeline/components/Provisioner/__tests__/ProvisionerSelect.test.tsx
  src/modules/70-pipeline/components/Provisioner/__tests__/mock.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-74277]: remove ff CDS_SERVERLESS_V2 (#19262)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactHelper.ts
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactsSelection.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ServiceV2ArtifactsSelection.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/__tests__/ArtifactSelection.test.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestListView.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestListViewMultiple.tsx
  src/modules/70-pipeline/components/ManifestSelection/Manifesthelper.ts
  src/modules/70-pipeline/utils/stageHelpers.ts
  src/modules/75-cd/components/PipelineSteps/Common/GenericServiceSpec/GenericServiceSpecEditable.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/K8sRemoteManifest.tsx
  src/modules/75-cd/components/PipelineSteps/ServerlessAwsLambdaServiceSpec/__tests__/ServerlessAwsLambdaServiceSpec.test.tsx
  src/modules/75-cd/components/PipelineSteps/ServerlessAwsLambdaServiceSpec/__tests__/__snapshots__/ServerlessAwsLambdaServiceSpec.test.tsx.snap
  src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications/__test__/DeployServiceSpecifications.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-85989]: remove ff CDS_MULTI_SERVICE_PROPAGATION (#19286)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm/MultiServiceInputSetForm.tsx
  src/modules/75-cd/components/PipelineStudio/DeployServiceSpecifications/DeployServiceEntitySpecifications.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-85965]: remove ff CDS_TERRAGRUNT_CLI_OPTIONS_NG (#19263)
  src/modules/10-common/featureFlags.ts
  src/modules/75-cd/components/PipelineSteps/Common/Terragrunt/EditView/TerragruntEditView.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntApply/_tests_/TerragruntApply.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntApply/_tests_/__snapshots__/TerragruntApply.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerragruntDestroy/_tests_/TerragruntDestroy.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntDestroy/_tests_/__snapshots__/TerragruntDestroy.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerragruntPlan/TerragruntPlan.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntPlan/_tests_/TerragruntPlan.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntPlan/_tests_/__snapshots__/TerragruntPlan.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TerragruntRollback/TerragruntRollback.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntRollback/_tests_/TerragruntRollback.test.tsx
  src/modules/75-cd/components/PipelineSteps/TerragruntRollback/_tests_/__snapshots__/TerragruntRollback.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: allow amd64 for MacOS infra (#19293)
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82268]: Update invalid decoration color to be transparent (#19308)
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.module.scss
Due: sh scripts/license/stamp.sh

fix: [CDS-85696]: Removed condition icon from steps with (only) default/success condition (#19312)
  src/modules/70-pipeline/components/PipelineDiagram/PipelineGraph/PipelineGraphUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-82802]: add routewithcontext unit tests (#19222)
  src/modules/10-common/router/RouteWithContext/__tests__/RouteWithContext.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85964]: Added considering whitespaces as diff, by default in MonaccoDiffEditor (#19310)
  src/modules/10-common/components/GitDiffEditor/GitDiffEditor.tsx
  src/modules/10-common/components/MonacoDiffEditor/MonacoDiffEditor.tsx
  src/modules/10-common/components/YamlDiffView/YamlDiffView.tsx
  src/modules/38-audit-trail/components/EventSummary/YamlDiffButton.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: allow amd64 for MacOS only for local runner (#19314)
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85884]:k8sapply-improves (#19247)
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/K8sRemote.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/K8sRemoteManifest.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/__tests__/K8sRemote.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SSCA-1044] use OPA policy picker behind FF (#19287)
  src/modules/10-common/featureFlags.ts
  src/modules/75-ssca/components/PipelineSteps/SscaEnforcementStep/SscaEnforcementStep.tsx
  src/modules/75-ssca/components/PipelineSteps/SscaOrchestrationStep/SscaOrchestrationStep.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/SscaEnforcementStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/__tests__/SscaOrchestrationStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepEdit.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepFunctionConfigs.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepInputSet.tsx
  src/modules/75-ssca/components/PipelineSteps/common/types.ts
  src/modules/75-ssca/components/PipelineSteps/common/utils.ts
  src/modules/75-ssca/components/PipelineSteps/index.ts
  src/modules/75-ssca/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85089]: fix stylings for Approval logs and Step logs (#19307)
  src/modules/70-pipeline/components/execution/StepDetails/views/HarnessApprovalView/HarnessApprovalLogsView.module.scss
  src/modules/70-pipeline/components/execution/StepDetails/views/HarnessApprovalView/HarnessApprovalLogsView.module.scss.d.ts
  src/modules/70-pipeline/components/execution/StepDetails/views/HarnessApprovalView/HarnessApprovalLogsView.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/HarnessApprovalLogsView.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85749]: handle reload RepoName from ConnectorRef as Runtime to Fixed (#19321)
  src/modules/70-pipeline/components/PipelineStudio/RightBar/RightBarUtils.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDB-251]: register dashboard audit resource type handler (#19309)
  src/modules/45-dashboards/RouteDestinations.tsx
  src/services/audit/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PL-41841]: Initiate certificates management (#18375)
  .gitignore
  .swcrc
  coverage-groups.json
  src/modules/10-common/RouteDefinitions.ts
  src/modules/10-common/RouteDefinitionsV2.ts
  src/modules/10-common/components/ResourceCardList/ResourceCardList.tsx
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/navigation/ProjectSetupMenu/ProjectSetupMenu.tsx
  src/modules/10-common/pages/SettingsPages/AccountSettingsPage.tsx
  src/modules/10-common/pages/SettingsPages/SettingsPage.tsx
  src/modules/10-common/pages/pageContext/PageName.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/certificates/RouteDestinations.tsx
  src/modules/27-platform/certificates/SettingsRouteDestinations.tsx
  src/modules/27-platform/certificates/pages/certificates/CertificatesPage.tsx
  src/modules/27-platform/certificates/pages/certificates/__tests__/CertificatesPage.test.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/modules/45-projects-orgs/RouteDestinations.tsx
  src/modules/45-projects-orgs/components/SettingsPageComponent/OrgSettingsPage.tsx
  src/modules/45-projects-orgs/components/SettingsPageComponent/ProjectSettingsPage.tsx
  src/modules/RouteDestinations.tsx
  src/modules/SettingsRouteDestinations.tsx
  src/stringTypes.ts
  tsconfig.json
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85099]: handle service input fields when configured from chained pipeline Inputs tab (#19266)
  src/modules/70-pipeline/components/PipelineInputSetForm/ChainedPipelineInputSetUtils.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/PipelineInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/ServicesInputSetForm/SingleServiceInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/StageInputSetForm.tsx
  src/modules/70-pipeline/components/RunPipelineModal/RunPipelineForm.tsx
  src/modules/70-pipeline/components/RunPipelineModal/VisualView.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84445]:fix (#19319)
  src/modules/75-cd/components/PipelineSteps/AsgInfraSpec/AsgInfraSpecEditable.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CET-1834]: User incorrectly redirected to settings page (#19283)
  src/modules/75-cet/RouteDestinationsV2.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

Path conditions:
  sh scripts/license/stamp.sh: any of: *
  prettier --check: (any of: *.{ts,tsx,p1}) or (any of: *.scss,p2)
  eslint --rulesdir ./scripts/eslint-rules: any of: *.{ts,tsx,p2}
  sh scripts/typecheck-staged.sh: any of: *.{ts,tsx,p3}
  stylelint --max-warnings 0: any of: *.scss,p1
  yarn strings:check: any of: strings.*.yaml
  echo 'Changes to proxy config should not be committed' && exit 1: any of: webpack.devServerProxy.config.js
  exit 1: any of: *.i18n.ts
