Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

.lintstagedrc.yml:

'*': 'sh scripts/license/stamp.sh'
# p1,p2,p3 are dummy extensions to allow multiple commands for the same extensions
'*.{ts,tsx,p1}': 'prettier --check'
'*.{ts,tsx,p2}': 'eslint --rulesdir ./scripts/eslint-rules'
'*.{ts,tsx,p3}': 'sh scripts/typecheck-staged.sh'
'*.scss,p1': 'stylelint --max-warnings 0'
'*.scss,p2': 'prettier --check'
'strings.*.yaml': 'yarn strings:check'
'webpack.devServerProxy.config.js': "echo 'Changes to proxy config should not be committed' && exit 1"
'*.i18n.ts': 'exit 1'

feat: [CDS-86103]: user license view ui changes (#19285)
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/CDUsageInfo.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/SubscriptionUtils.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: remove duplicate namespace from reponame in pipeline/triggers yaml in CI onboarding (#19329)
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/InfraProvisioningWizard.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [code-1195]: add useExecutionData hook (#19332)
  src/modules/60-code/CodeApp.tsx
  src/modules/60-code/__test__/CodeAppHooks.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82726]: Added missing onClick in project grid view (#19315)
  src/modules/45-projects-orgs/components/ProjectCard/ProjectCard.tsx
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.tsx
  src/modules/45-projects-orgs/pages/projects/__tests__/ProjectListView.test.tsx
  src/modules/45-projects-orgs/pages/projects/views/ProjectGridView/ProjectGridView.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85873]: Cleanup CD_TRIGGER_CATALOG_API_ENABLED & CD_TRIGGER_V2 FF (#19268)
  cypress/fixtures/pipeline/api/triggers/Cypress_Test_Trigger_Catalog.json
  cypress/integration/70-pipeline/PipelineTriggers.spec.ts
  cypress/integration/72-triggers/AmazonS3Trigger.spec.ts
  cypress/integration/72-triggers/TriggersInputSetView.spec.ts
  cypress/integration/72-triggers/constants.ts
  cypress/integration/72-triggers/triggers-helpers/visitTriggersPage.ts
  cypress/integration/75-ci/RunStep.spec.ts
  cypress/support/70-pipeline/constants.ts
  cypress/support/75-ci/CIpipeline.utils.ts
  src/modules/10-common/featureFlags.ts
  src/modules/72-triggers/components/steps/ArtifactTriggerConfigPanel/ArtifactTriggerConfigPanel.tsx
  src/modules/72-triggers/pages/triggers/__tests__/TriggersListUtils.test.ts
  src/modules/72-triggers/pages/triggers/__tests__/TriggersPage.test.tsx
  src/modules/72-triggers/pages/triggers/__tests__/__snapshots__/TriggersPage.test.tsx.snap
  src/modules/72-triggers/pages/triggers/__tests__/sharedMockResponses.ts
  src/modules/72-triggers/pages/triggers/__tests__/webhookMockResponses.ts
  src/modules/72-triggers/pages/triggers/utils/TriggersListUtils.ts
  src/modules/72-triggers/pages/triggers/views/TriggersList.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86129]: fix processing of stepgroup node data in steptree component (#19335)
  src/modules/70-pipeline/utils/executionUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SRM-16263]: Reconcile Monitored Service Template (#19295)
  src/modules/10-common/featureFlags.ts
  src/modules/85-cv/assets/Detach.svg
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/MonitoredServiceInputSetsTemplate.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/HealthSourceInputset/components/HealthSourceInputsetForm/HealthSourceInputsetForm.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/HealthSourceInputset/components/HealthSourceInputsetForm/__tests__/HealthSourceInputsetForm.test.tsx
  src/modules/85-cv/pages/monitored-service/MonitoredServiceInputSetsTemplate/components/HealthSourceInputset/components/MetricDefinitionInptsetForm/MetricDefinitionInptsetForm.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/Configurations.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/Service.types.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/Service.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/CommonMonitoredServiceConfigurations/CommonMonitoredServiceConfigurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/component/OrgAccountLevelServiceEnvField/OrgAccountLevelServiceEnvField.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceOverview/component/OrgAccountLevelServiceEnvField/OrgAccountLevelServiceEnvField.types.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.module.scss
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.module.scss.d.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/MonitoredServiceReconcileList.utils.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceForm.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInMS.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/ReconcileMonitoredServiceFormInTemplate.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/__tests__/MonitoredServiceReconcileList.mock.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/__tests__/MonitoredServiceReconcileList.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/__tests__/ReconcileMonitoredServiceFormInMS.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/__tests__/ReconcileMonitoredServiceFormInTemplate.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/__tests__/useReconcileDrawer.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/MonitoredServiceReconcileList/useReconcileDrawer.tsx
  src/modules/85-cv/strings/strings.en.yaml
  src/services/cv/index.tsx
  src/services/cv/overrides.yaml
  src/services/cv/swagger.json
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-86445]: handle looping strategy runtime inputs for step group (#19337)
  src/modules/70-pipeline/components/PipelineInputSetForm/ExecutionWrapperInputSetForm.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-85888]: add label support, icon for execution view and allowed key as per schema (#19269)
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/70-pipeline/utils/executionUtils.ts
  src/modules/70-pipeline/y1/components/InputFactory/InputComponentRenderer.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/BooleanInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/DurationInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/EmailInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/HttpMethodInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/JenkinsConnectorInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/JenkinsJobNameInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/NumberInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/ObjectInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/TextAreaInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/TextInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/UrlInput.tsx
  src/modules/70-pipeline/y1/components/InputFactory/Inputs/utils.ts
  src/modules/70-pipeline/y1/components/InputsForm/hooks/useInputDependencies.tsx
  src/modules/70-pipeline/y1/components/InputsForm/types.ts
  src/modules/70-pipeline/y1/components/InputsForm/utils.ts
  src/modules/70-pipeline/y1/components/RunPipelineModal/RunPipelineFormY1.tsx
  src/modules/70-pipeline/y1/components/RuntimeInputs/AddEditRuntimeInputs/OptionalConfiguration.tsx
  src/modules/70-pipeline/y1/components/RuntimeInputs/AddEditRuntimeInputs/utils.ts
  src/modules/70-pipeline/y1/components/RuntimeInputs/RuntimeInputList.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [code-1195]: add logdatahook (#19346)
  src/modules/60-code/CodeApp.tsx
  src/modules/60-code/__test__/CodeAppHooks.test.tsx
  src/modules/60-code/__test__/CodeAppHooksp2.test.tsx
  src/modules/60-code/hooks/useLogsContentHook.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86388]: Remove CV_UI_DISPLAY_FAIL_IF_ANY_CUSTOM_METRIC_IN_NO_ANALYSIS and SRM_ENABLE_VERIFY_STEP_LONG_DURATION feature flags (#19318)
  src/modules/10-common/featureFlags.ts
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/__tests__/__snapshots__/ContinousVerificationStep.test.tsx.snap
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationInputSetStep/ContinousVerificationInputSetStep.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/__tests__/ContinousVerificationWidget.test.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfigureFields/ConfigureFields.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfigureFields/ConfigureFields.utils.ts
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/ConfigureFields/components/NodeFilteringFields/NodeFilteringFieldsDetail.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/VerificationJobFields/VerificationJobFields.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/components/ContinousVerificationWidget/components/ContinousVerificationWidgetSections/components/VerificationJobFields/__tests__/Duration.test.tsx
  src/modules/85-cv/components/PipelineSteps/ContinousVerification/utils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85881]: Improve template variables rendering performance (#19342)
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomVariables/CustomVariableInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/KubernetesServiceSpecInputForm.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/__tests__/__snapshots__/KubernetesServiceSpecInputForm.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85678]: support delegateSelectors under spec of step as execution runtime field (#19349)
  src/modules/70-pipeline/components/execution/StepDetails/tabs/ExecutionInputs/ExecutionInputs.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86593]: hide reload from git from popover and pipeline / template / input set menu actions when bi-directional sync is enabled (#19355)
  src/modules/70-pipeline/components/InputSetForm/InputSetFormHeader.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/EntityCachedCopy/EntityCachedCopy.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvasHeader.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioSubHeader/TemplateStudioSubHeader.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10128]: case sensitive tag validation (#19338)
  src/modules/75-cf/components/CreateFlagWizard/FlagElemAbout.module.scss
  src/modules/75-cf/components/CreateFlagWizard/FlagElemAbout.tsx
  src/modules/75-cf/components/CreateFlagWizard/__tests__/FlagElemAbout.test.tsx
  src/modules/75-cf/components/FlagActivation/hooks/__tests__/useEditFlagDetailsModal.test.tsx
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.module.scss
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.module.scss.d.ts
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.scss.d.ts
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.tsx
  src/modules/75-cf/constants/index.ts
  src/modules/75-cf/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-86173]: Fixed an issue of loading project level tokens on account overview page (#19316)
  src/modules/20-rbac/components/ApiKeyList/ApiKeyList.tsx
  src/modules/20-rbac/components/ApiKeyList/__tests__/ApiKeyList.test.tsx
  src/modules/20-rbac/pages/ServiceAccountDetails/ServiceAccountDetails.tsx
  src/modules/38-user-profile/pages/UserProfile/__tests__/UserProfile.test.tsx
  src/modules/38-user-profile/pages/UserProfile/views/UserSummaryTab.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10158]: new tag filter (#19211)
  package.json
  src/modules/75-cf/pages/feature-flags/FeatureFlagsPage.tsx
  src/modules/75-cf/pages/feature-flags/__tests__/FeatureFlagsPage.test.tsx
  src/modules/75-cf/pages/feature-flags/components/TagFilter.module.scss
  src/modules/75-cf/pages/feature-flags/components/TagFilter.module.scss.d.ts
  src/modules/75-cf/pages/feature-flags/components/TagFilter.tsx
  src/modules/75-cf/pages/feature-flags/components/__tests__/TagFilter.test.tsx
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86595]: saving value upon refresh instead of display value in snow update (#19356)
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowUpdate/ServiceNowUpdateStepMode.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83793]:trafficshift-load-balancers-asg-bg (#19275)
  src/modules/70-pipeline/components/RunPipelineModal/RunPipelineForm.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBGLoadBalancers/AsgBlueGreenDeployLoadBalancers.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStep.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStepEdit.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-85320]: Added 'new' tag for some modules and few other enhancements (#19324)
  src/modules/10-common/components/ModeSelector/ModeCard.tsx
  src/modules/10-common/components/ModeSelector/ModeSelector.module.scss
  src/modules/10-common/components/ModeSelector/ModeSelector.module.scss.d.ts
  src/modules/10-common/components/ModeSelector/ModeSelector.tsx
  src/modules/10-common/components/ModeSelector/__tests__/ModeSelector.test.tsx
  src/modules/10-common/hooks/useNavModuleInfo.ts
  src/modules/10-common/strings/strings.en.yaml
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85213]: onboard v1 pipline studio to support gitX (#19341)
  src/modules/70-pipeline/components/CreatePipelineButton/useCreatePipelineModalY1.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvas.tsx
  src/modules/70-pipeline/pages/utils/NoEntityFound/NoEntityFound.tsx
  src/modules/70-pipeline/v1/components/PipelineCanvasV1/PipelineCanvasV1.tsx
  src/modules/70-pipeline/y1/components/PipelineCanvas/PipelineCanvasHeaderY1.tsx
  src/modules/70-pipeline/y1/components/PipelineCanvas/PipelineCanvasY1.tsx
  src/modules/70-pipeline/y1/components/PipelineCanvas/SavePipelinePopover/SavePipelinePopoverY1.tsx
  src/modules/70-pipeline/y1/components/PipelineContext/PipelineContextY1.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PL-43471]: pass secretManagerIdentifiers to secrets v2 call for secret manager connectors (#19347)
  src/modules/10-common/components/ReferenceSelect/ReferenceSelect.tsx
  src/modules/10-common/utils/utils.ts
  src/modules/27-platform/connectors/components/CreateConnector/CustomSecretManagerConnector/views/CustomSMConfigStep.tsx
  src/modules/27-platform/secrets/components/CreateUpdateSecret/CreateUpdateSecret.tsx
  src/modules/27-platform/secrets/components/CreateUpdateSecret/__tests__/CreateUpdateSecret.test.tsx
  src/modules/27-platform/secrets/components/MutiTypeSecretInput/MultiTypeSecretInput.tsx
  src/modules/27-platform/secrets/components/SecretReference/SecretReference.tsx
  src/modules/27-platform/secrets/components/SecretReference/__test__/SecretReference.test.tsx
  src/modules/27-platform/secrets/components/SecretReference/__test__/__snapshots__/SecretReference.test.tsx.snap
  src/modules/27-platform/secrets/modals/CreateOrSelectSecretModal/useCreateOrSelectSecretModal.tsx
  src/modules/27-platform/secrets/utils/SecretField.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/__tests__/GoogleArtifactRegistry.test.tsx
  src/modules/72-triggers/components/steps/ArtifactTriggerConfigPanel/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/GoogleArtifactRegistrySource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/GoogleArtifactsRegistrySource.test.tsx
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

Branching to release/0.374.0. New version 0.375.x
  package.json
Due: sh scripts/license/stamp.sh

feat: [CDS-84727]: Add description tags fields whn using stage template in pipeline (#19354)
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/ApprovalStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/ApprovalStage/__tests__/ApprovalStage.test.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/CustomStage/CustomStageMinimalMode.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/EditPipelineStageView.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/__tests__/EditPipelineStageView.test.tsx
  src/modules/70-pipeline/utils/templateUtils.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/EditStageView.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/__test__/EditStageView.test.tsx
  src/modules/75-cd/components/PipelineStudio/DeployStage/EditStageView/__test__/__snapshots__/EditStageView.test.tsx.snap
  src/modules/75-ci/components/PipelineStudio/BuildStage/EditStageView/EditStageView.tsx
  src/modules/75-idp/components/IDPStage/IDPStageMinimalMode.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82861]: added cluster select dropdown (#18862)
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/FormMultiTypeGitOpsClusterField.module.scss
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/FormMultiTypeGitOpsClusterField.module.scss.d.ts
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/FormMultiTypeGitOpsClusterField.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/Utils.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/__tests__/FormMultiTypeEntitySelector.test.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/__tests__/mocks.ts
  src/modules/70-pipeline/strings/strings.en.yaml
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/GitOpsCluster/GitOpsCluster.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/GitOpsCluster/__tests__/GitOpsCluster.test.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/GitOpsCluster/__tests__/__snapshots__/GitOpsCluster.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep/DeployClusterEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep/DeployClusterEntityStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep/__tests__/DeployClusterEntityInputStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep/__tests__/DeployClusterEntityStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployClusterEntityStep/__tests__/mocks.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/ClusterEntitiesList/ClusterEntitiesList.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/ClusterEntitiesList/ClusterEntityCard.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployCluster/DeployCluster.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployCluster/__tests__/DeployCluster.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployCluster/__tests__/useGetClusterData_error.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployCluster/__tests__/useGetClustersData.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployCluster/useGetClustersData.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironmentEntityInputStep.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironmentEntityInputStepUtils.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/__tests__/ClusterEntitiesList.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/types.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/__tests__/utils.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/multiEnvironment/__tests__/utils.multiEnvironment.test.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/multiEnvironment/processMultiEnvironmentFormValues.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/singleEnvironment/processSingleEnvironmentFormValues.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/singleEnvironment/processSingleEnvironmentInitialValues.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/utils/utils.ts
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CI-10650] : telemetry for credit card onboarding and hide delegate error details for CI onboarding (#19343)
  src/modules/10-common/constants/TrackingConstants.ts
  src/modules/27-platform/delegates/pages/delegates/delegateCommandLineCreation/components/VerifyDelegateConnection.tsx
  src/modules/75-ci/pages/get-started-with-ci/GetStartedWithCI.tsx
  src/modules/75-ci/pages/get-started-with-ci/GetStartedWithCICreditCard.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/Constants.ts
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/InfraProvisioningWizard.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

Branching to release/0.375.0. New version 0.376.x
  package.json
Due: sh scripts/license/stamp.sh

feat: [SEI-4524]: adding feature flag for SEI New Integrations (#19365)
  src/modules/10-common/featureFlags.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86686]: Fix log analysis radar chart spider chart collapse issue (#19369)
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/LogAnalysisRadarChart.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86541]: if gitX enforced true then select remote store type by default (#19368)
  src/modules/70-pipeline/components/PipelineStudio/CreateModal/PipelineCreate.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [IDP-1834]: Scorecards FF removal from UI (#19371)
  src/modules/10-common/featureFlags.ts
  src/modules/75-idp/components/IDPAdminSideNav/IDPAdminSideNav.tsx
  src/modules/75-idp/components/IDPAdminSideNav/__test__/__snapshots__/IDPAdminSideNav.test.tsx.snap
  src/modules/75-idp/components/IDPSideNav/IDPAdminSideNavLinks.tsx
  src/modules/75-idp/components/IDPSideNav/__test__/IDPAdminSideNavLinks.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SSCA-1091]: Add Remediation Tracker route (#19364)
  src/modules/10-common/RouteDefinitions.ts
  src/modules/10-common/RouteDefinitionsV2.ts
  src/modules/10-common/featureFlags.ts
  src/modules/75-ssca/RouteDestinations.tsx
  src/modules/75-ssca/RouteDestinationsV2.tsx
  src/modules/75-ssca/components/SSCASideNav.tsx
  src/modules/75-ssca/components/SSCASideNavLinks.tsx
  src/modules/75-ssca/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [IDP-1803]: IDP cookiecutter, direct push, create repo and register catalog step added (#19376)
  package.json
  src/modules/70-pipeline/components/PipelineSteps/PipelineStepInterface.ts
  src/modules/75-idp/RouteDestinations.tsx
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/CookieCutterStep/CookieCutterStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/CreateRepoStep/CreateRepoStep.tsx
  src/modules/75-idp/components/PipelineSteps/CreateRepoStep/CreateRepoStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/CreateRepoStep/CreateRepoStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/CreateRepoStep/CreateRepoStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/DirectPushStep/DirectPushStep.tsx
  src/modules/75-idp/components/PipelineSteps/DirectPushStep/DirectPushStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/DirectPushStep/DirectPushStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/DirectPushStep/DirectPushStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/IDPSteps.module.scss
  src/modules/75-idp/components/PipelineSteps/IDPSteps.module.scss.d.ts
  src/modules/75-idp/components/PipelineSteps/RegisterCatalogStep/RegisterCatalogStep.tsx
  src/modules/75-idp/components/PipelineSteps/RegisterCatalogStep/RegisterCatalogStepEdit.tsx
  src/modules/75-idp/components/PipelineSteps/RegisterCatalogStep/RegisterCatalogStepFunctionConfigs.ts
  src/modules/75-idp/components/PipelineSteps/RegisterCatalogStep/RegisterCatalogStepInputSet.tsx
  src/modules/75-idp/components/PipelineSteps/index.ts
  src/modules/75-idp/strings/strings.en.yaml
  src/stringTypes.ts
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: service overrides input validation (#19374)
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironmentEntityStep.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86640]: Show generic error if template has been deleted in template studio (#19375)
  src/modules/70-pipeline/pages/utils/NoEntityFound/NoEntityFound.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateContext/TemplateContext.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
  src/modules/72-templates-library/components/TemplateStudio/__tests__/TemplateStudioInternal.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SSCA-1044] rename FF (#19378)
  src/modules/10-common/featureFlags.ts
  src/modules/75-ssca/components/PipelineSteps/__tests__/SscaEnforcementStep.test.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepEdit.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10189]: Re-introduce bucket by (#19367)
  src/modules/75-cf/components/FlagActivation/FlagActivation.tsx
  src/modules/75-cf/components/PercentageRollout/PercentageRollout.module.scss
  src/modules/75-cf/components/PercentageRollout/PercentageRollout.module.scss.d.ts
  src/modules/75-cf/components/PercentageRollout/PercentageRollout.tsx
  src/modules/75-cf/components/PercentageRollout/__tests__/PercentageRollout.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChanges/FlagChanges.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChanges/__tests__/FlagChanges.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChanges/subSections/ServePercentageRollout.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesContextProvider.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/__tests__/FlagChanges.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/__tests__/flagChangesValidationSchema.test.ts
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/BucketByField.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/FixedPercentageRollout.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/ServePercentageRolloutToTargetGroup.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/__tests__/BucketByField.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/__tests__/ServePercentageRolloutToTargetGroup.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagConfigurationInputSetStep.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagConfigurationStepWidget.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/__tests__/FlagConfigurationStep.test.tsx
  src/modules/75-cf/components/TargetManagementFlagConfigurationPanel/types.ts
  src/modules/75-cf/components/TargetManagementFlagsListing/VariationsWithPercentageRolloutCell.tsx
  src/modules/75-cf/hooks/__tests__/useTargetAttributes.test.tsx
  src/modules/75-cf/hooks/useTargetAttributes.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/TargetingRulesTab.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/__tests__/TargetingRulesTab.GitSync.test.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/__tests__/TargetingRulesTab.test.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/components/percentage-rollout-item/PercentageRolloutItem.tsx
  src/modules/75-cf/pages/target-detail/components/FlagSettings/__tests__/FlagsSettings.test.tsx
  src/modules/75-cf/pages/target-group-detail/TargetGroupDetailPage.tsx
  src/modules/75-cf/pages/target-group-detail/__tests__/TargetGroupDetailPage.test.tsx
  src/modules/75-cf/pages/target-group-detail/components/FlagSettingsPanel/FlagSettingsPanel.tsx
  src/modules/75-cf/pages/target-group-detail/components/FlagSettingsPanel/__tests__/flagSettingsInstructions.test.ts
  src/modules/75-cf/pages/target-group-detail/components/FlagSettingsPanel/flagSettingsInstructions.ts
  src/modules/75-cf/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [SSCA-1097] policy picker with user defined type (#19388)
  src/modules/70-pipeline/components/PipelineSteps/Common/PolicySets/MultiTypePolicySetSelector/MultiTypePolicySetSelector.tsx
  src/modules/70-pipeline/components/PipelineSteps/Common/PolicySets/PolicySetModal/PolicySetModal.tsx
  src/modules/75-ssca/components/PipelineSteps/common/SscaEnforcementStepEdit.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [PL-43531]: not show org and project resources at current scope (#19392)
  src/modules/20-rbac/components/ResourcesCard/ResourcesCard.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CI-10692]: Track event on AIDA interaction (#19379)
  src/modules/10-common/components/DocsChat/DocsChat.tsx
  src/modules/10-common/constants/TrackingConstants.ts
  src/modules/70-pipeline/components/HarnessCopilot/HarnessCopilot.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh
