Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

.lintstagedrc.yml:

'*': 'sh scripts/license/stamp.sh'
# p1,p2,p3 are dummy extensions to allow multiple commands for the same extensions
'*.{ts,tsx,p1}': 'prettier --check'
'*.{ts,tsx,p2}': 'eslint --rulesdir ./scripts/eslint-rules'
'*.{ts,tsx,p3}': 'sh scripts/typecheck-staged.sh'
'*.scss,p1': 'stylelint --max-warnings 0'
'*.scss,p2': 'prettier --check'
'strings.*.yaml': 'yarn strings:check'
'webpack.devServerProxy.config.js': "echo 'Changes to proxy config should not be committed' && exit 1"
'*.i18n.ts': 'exit 1'

feat: [CDB-251]: register dashboard folder audit resource type handler (#19416)
  src/modules/45-dashboards/RouteDestinations.tsx
  src/modules/45-dashboards/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-86932]: Onboard new default setting: run_rbac_validation_before_executing_inline_pipelines on the setting page (product feedback) (#19439)
  src/modules/10-common/constants/Utils.ts
  src/modules/27-platform/default-settings/RouteDestinations.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

chore: [CDS-86394]: remove ff CDS_ECS_BASIC_DEPLOYMENT_STRATEGY (#19420)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/PipelineStudio/ExecutionStrategy/ExecutionStrategy.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86958]: gitx code integration changes (#19454)
  src/framework/Templates/TemplateConfigModal/TemplateConfigModal.tsx
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.module.scss
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.module.scss.d.ts
  src/modules/10-common/components/GitProviderSelect/GitProviderSelect.tsx
  src/modules/10-common/components/GitProviderSelect/__tests__/GitProviderSelect.test.tsx
  src/modules/10-common/components/GitProviderSelect/__tests__/__snapshots__/GitProviderSelect.test.tsx.snap
  src/modules/10-common/components/GitRemoteDetails/GitRemoteDetails.tsx
  src/modules/10-common/components/RepoBranchSelectV2/RepoBranchSelectV2.tsx
  src/modules/10-common/components/RepositorySelect/RepositorySelect.tsx
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/connectors/constants.ts
  src/modules/40-gitsync/components/GitSyncForm/GitSyncForm.module.scss
  src/modules/40-gitsync/components/GitSyncForm/GitSyncForm.module.scss.d.ts
  src/modules/40-gitsync/components/GitSyncForm/GitSyncForm.tsx
  src/modules/40-gitsync/components/GitSyncForm/__tests__/GitSyncForm.test.tsx
  src/modules/40-gitsync/components/GitSyncForm/__tests__/__snapshots__/GitSyncForm.test.tsx.snap
  src/modules/70-pipeline/components/InputSetForm/FormikInputSetForm.tsx
  src/modules/70-pipeline/components/InputSetForm/InputSetForm.tsx
  src/modules/70-pipeline/components/InputSetForm/InputSetFormHeader.tsx
  src/modules/70-pipeline/components/MigrateResource/ImportResource.tsx
  src/modules/70-pipeline/components/MigrateResource/MigrateUtils.ts
  src/modules/70-pipeline/components/MigrateResource/__tests__/MigrateUtils.test.ts
  src/modules/70-pipeline/components/OverlayInputSetForm/OverlayInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.module.scss
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/CloneCodebaseForm.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/__tests__/CloneCodebaseForm.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/CloneCodebaseForm/__tests__/__snapshots__/CloneCodebaseForm.test.tsx.snap
  src/modules/70-pipeline/components/PipelineStudio/CreateModal/PipelineCreate.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineCanvas/PipelineCanvasHeader.tsx
  src/modules/70-pipeline/components/RunPipelineModal/SaveAsInputSet.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/EnvironmentConfiguration/EnvironmentConfiguration.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/InfrastructureDefinition/NewInfrastructureForm.tsx
  src/modules/75-cd/components/Services/ServiceStudio/ServiceConfiguration/ServiceStepBasicInfo.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-82253]: Switching scope directly without showing scope switch dialog (#19465)
  src/modules/45-projects-orgs/components/ScopeSelector/ScopeSelector.tsx
  src/modules/45-projects-orgs/components/ScopeSelector/__tests__/ScopeSelector.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [STO-5683] Add default settings for default baseline regexes (#19453)
  src/modules/10-common/constants/Utils.ts
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/default-settings/interfaces/SettingType.types.ts
  src/modules/85-sto/Registrations.tsx
  src/modules/85-sto/RouteDestinations.tsx
  src/modules/85-sto/RouteDestinationsV2.tsx
  src/modules/85-sto/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CI-10752]: fixed get started flow for gitness repos and disabled git provider selector cards for Edit git metadata (#19469)
  src/modules/70-pipeline/components/MigrateResource/EditGitMetadata.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/ConfigurePipeline.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/InfraProvisioningWizard.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/SelectGitProvider.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85163]: Created a new env variable for release notes (#19278)
  docker/entrypoint.sh
  src/global.d.ts
  src/index.html
  src/modules/10-common/components/ResourceCenter/ResourceCenter.tsx
  src/modules/10-common/components/ResourceCenter/__tests__/ResourceCenter.test.tsx
  src/modules/10-common/components/ResourceCenter/__tests__/utils.test.ts
  src/modules/10-common/components/ResourceCenter/utils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-86997]: Remove `useNetworkEvents` and update `shouldIgnoreEvent` (#19466)
  src/framework/app/App.tsx
  src/framework/app/Utils.ts
  src/framework/app/__tests__/Utils.test.ts
  src/framework/hooks/__tests__/useNetworkEvents.test.tsx
  src/framework/hooks/useNetworkEvents.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SRM-16357]: disabled editing MS referenced by template (#19464)
  src/modules/85-cv/components/CVSetupSourcesView/SetupSourceLayout/SetupSourceLayout.tsx
  src/modules/85-cv/pages/health-source/HealthSourceTable/HealthSourceTable.tsx
  src/modules/85-cv/pages/health-source/common/DrawerFooter/DrawerFooter.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/ConfigurationContext.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/Configurations.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/components/HealthSourceTableContainer/HealthSourceTableContainer.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-83638]: package dropdown for GAR (#19313)
  cypress/fixtures/pipeline/api/triggers/Cypress_Test_Trigger_GAR_Package.json
  cypress/integration/72-triggers/ArtifactTrigger/GoogleArtifactRegistryArtifactTrigger.spec.ts
  cypress/integration/72-triggers/constants.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/__tests__/GoogleArtifactRegistry.test.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/__tests__/__snapshots__/GoogleArtifactRegistry.test.tsx.snap
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactUtils.ts
  src/modules/72-triggers/components/steps/ArtifactTriggerConfigPanel/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/GoogleArtifactRegistry/GoogleArtifactRegistry.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/GoogleArtifactRegistrySource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/GoogleArtifactsRegistrySource.test.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ArtifactSource/GoogleArtifactsRegistrySource/__tests__/mock.ts
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-86036]:k8s-traffic-shift-provider-component (#19459)
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/strings/strings.en.yaml
  src/modules/75-cd/components/PipelineSteps/K8sBgStep/K8sBlueGreenDeployStep.tsx
  src/modules/75-cd/components/PipelineSteps/K8sBgStep/K8sProvider.tsx
  src/modules/75-cd/components/PipelineSteps/K8sBgStep/__tests__/K8sProvider.test.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

chore: [CDS-85931]: Removed FF - SPG_LOG_SERVICE_ENABLE_DOWNLOAD_LOGS (#19366)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/ExecutionActions/ExecutionActions.tsx
  src/modules/70-pipeline/components/ExecutionActions/__tests__/ExecutionActions.test.tsx
  src/modules/70-pipeline/components/ExecutionActions/__tests__/__snapshots__/ExecutionActions.test.tsx.snap
  src/modules/70-pipeline/components/ExecutionStepDetails/__tests__/ExecutionStepDetails.test.tsx
  src/modules/70-pipeline/components/ExecutionStepDetails/__tests__/__snapshots__/ExecutionStepDetails.test.tsx.snap
  src/modules/70-pipeline/components/LogsContent/LogsContent.tsx
  src/modules/70-pipeline/components/LogsContent/__tests__/LogsContent.test.tsx
  src/modules/70-pipeline/components/LogsContent/__tests__/__snapshots__/LogsContent.test.tsx.snap
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/DefaultView.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/HarnessApprovalLogsView.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/JiraCreateUpdateView.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/ServiceNowCreateUpdateView.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/ServiceNowImportSetView.test.tsx
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/DefaultView.test.tsx.snap
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/HarnessApprovalLogsView.test.tsx.snap
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/JiraCreateUpdateView.test.tsx.snap
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/ServiceNowCreateUpdateView.test.tsx.snap
  src/modules/70-pipeline/components/execution/StepDetails/views/__tests__/__snapshots__/ServiceNowImportSetView.test.tsx.snap
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/__tests__/ExecutionLogView.test.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/__tests__/__snapshots__/ExecutionLogView.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85303]:helm-chart-connector-service (#19440)
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/HelmChartManifestSource/HelmChartManifestSource.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84818]: multiline expression input for pipeline - 1 (#19429)
  src/modules/27-platform/connectors/components/ConnectorReferenceField/FormMultiTypeConnectorField.tsx
  src/modules/70-pipeline/components/ApplicationConfig/ApplicationConfigListView/ApplicationConfigWizard/ApplicationConfigWizardStepOne.tsx
  src/modules/70-pipeline/components/ApplicationConfig/ApplicationConfigListView/ApplicationConfigWizard/ApplicationConfigWizardStepTwo.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactConnector.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/ACRArtifact/ACRArtifact.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/AmazonMachineImage/AmazonMachineImage.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/AmazonS3Artifact/AmazonS3.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/ArtifactImagePathTagView/ArtifactImagePathTagView.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/ArtifactImagePathTagView/BaseArtifactDigestField.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Artifactory/Artifactory.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84818]: multiline expression input for pipeline - 4 (#19432)
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/AwsSamDirectoryManifest/AwsSamDirectoryManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CommonManifestDetails/ManifestDetailsAdvancedSection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CommonManifestDetails/ManifestDetailsCoreSection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CustomRemoteManifest/CustomRemoteManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ECSWithS3/ECSWithS3.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/GitRepositoryName/GitRepositoryName.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmAdvancedStepSection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithGcs/HelmWithGcs.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/KustomizeAdvancedStepSelection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/ManifestStore.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84818]: multiline expression input for pipeline - 6 (#19434)
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomApproval/BaseCustomApproval.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomApproval/CustomApprovalInputSetStep.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomVariables/AddEditCustomVariable.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomVariables/CustomVariableEditable.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomVariables/CustomVariableInputSet.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/CustomVariables/CustomVariablesEditableStage.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepBase.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JenkinsStep/JenkinsStepInputSet.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraApproval/JiraApprovalStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraCreate/JiraCreateDeploymentMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraCreate/JiraCreateStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraCreate/JiraDynamicFieldsSelector.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraCreate/JiraFieldsRenderer.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraCreate/JiraKVFieldsRenderer.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86634]: Fields misaligned in GitOpsSync step (#19474)
  src/modules/70-pipeline/components/PipelineSteps/Steps/SyncStep/SyncStep.module.scss
  src/modules/70-pipeline/components/PipelineSteps/Steps/SyncStep/SyncStep.module.scss.d.ts
  src/modules/70-pipeline/components/PipelineSteps/Steps/SyncStep/SyncStepBase.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-77648]: Reconcile dialog button text fix (#19471)
  src/modules/70-pipeline/components/InputSetErrorHandling/ReconcileInputSetDialog/ReconcileInputSetDialog.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/InputSetOutOfSyncYaml.test.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/InputSetSelectorOutOfSyncYaml.test.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/OldGitSync_OverlayInputSetOutOfSyncYaml.test.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/OverlayInputSetOutOfSyncYaml.test.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/Remote_OverlayInputSetOutOfSyncYaml.test.tsx
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/__snapshots__/InputSetSelectorOutOfSyncYaml.test.tsx.snap
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/__snapshots__/OldGitSync_OverlayInputSetOutOfSyncYaml.test.tsx.snap
  src/modules/70-pipeline/components/InputSetErrorHandling/__tests__/__snapshots__/Remote_OverlayInputSetOutOfSyncYaml.test.tsx.snap
  src/modules/70-pipeline/pages/inputSet-list/__tests__/InputSetList.test.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-87000]: tooltip for new default setting: run_rbac_validation_before_executing_inline_pipelines (#19472)
  package.json
  yarn.lock
Due: sh scripts/license/stamp.sh

fix: [CDS-85866]: Removes enableReinitialize from deploy service form (#19470)
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/DeployServiceEntityWidget.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-87094]: string changes for webhooks (#19486)
  src/modules/70-pipeline/pages/webhooks/NewWebhookModal.tsx
  src/modules/70-pipeline/pages/webhooks/WebhookDetails/WebhookLandingPage.tsx
  src/modules/70-pipeline/pages/webhooks/WebhookDetails/__tests__/WebhookLandingPage.test.tsx
  src/modules/70-pipeline/pages/webhooks/WebhooksList/WebhooksList.tsx
  src/modules/70-pipeline/pages/webhooks/WebhooksList/WebhooksListColumns.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85137]: p3 bugs around snow (#19393)
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowCreateStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowFieldsRenderer.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowTemplateFieldRenderer.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/__tests__/ServiceNowCreate.test.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/__tests__/ServiceNowCreateTestHelper.ts
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/__tests__/__snapshots__/ServiceNowCreate.test.tsx.snap
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/helper.ts
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowUpdate/ServiceNowUpdateStepMode.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CI-10097]: enable secure connect proxy boolean for gcp and azure connectors (#19415)
  src/modules/27-platform/connectors/pages/connectors/utils/ConnectorUtils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-87010]:Tas-manifest-bundle-newplaceholder (#19489)
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CommonManifestDetails/CommonManifestDetails.module.scss
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CommonManifestDetails/CommonManifestDetails.module.scss.d.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/TasManifestWithArtifactBundle/TasManifestWithArtifactBundle.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-87099]: start using new API contract for pipeline and inpu… (#19490)
  src/modules/10-common/components/SaveToGitForm/SaveToGitForm.tsx
  src/modules/70-pipeline/components/InputSetForm/useSaveInputSet.ts
  src/modules/70-pipeline/components/OverlayInputSetForm/OverlayInputSetUtils.ts
  src/modules/70-pipeline/components/PipelineStudio/CreateModal/PipelineCreate.tsx
  src/modules/70-pipeline/components/PipelineStudio/SavePipelinePopover/SavePipelinePopover.tsx
  src/modules/70-pipeline/components/PipelineStudio/__tests__/PipelineCreate.test.tsx
  src/modules/70-pipeline/pages/pipeline-list/PipelineListTable/PipelineListCells.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/InfraProvisioningWizard.tsx
  src/services/pipeline-ng/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-86669]: remove ff CDS_GITHUB_APP_AUTHENTICATION (#19423)
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/connectors/components/CreateConnector/GithubConnector/StepAuth/StepGithubAuthentication.tsx
  src/modules/27-platform/connectors/components/CreateConnector/GithubConnector/__test__/CreateGithubConnector.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-87114]: filtering clusters from linkedcluster for environment (#19501)
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/FormMultiTypeGitOpsClusterField.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/Utils.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/__tests__/FormMultiTypeEntitySelector.test.tsx
  src/modules/70-pipeline/components/FormMultiTypeGitOpsClusterField/__tests__/mocks.ts
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/GitOpsCluster/GitOpsCluster.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85908]: Jira Update: Status call needs to be supported when issueKey is runtime or expression (#19495)
  src/modules/70-pipeline/components/PipelineSteps/Steps/JiraUpdate/JiraUpdateStepMode.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84818]: multiline expression input for pipeline - 3 (#19431)
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/JenkinsArtifact/JenkinsArtifact.tsx
  src/modules/70-pipeline/components/ArtifactsSelection/ArtifactRepository/ArtifactLastSteps/Nexus3Artifact/Nexus3Artifact.tsx
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageOutputSection/VariableOutputPanel.tsx
  src/modules/70-pipeline/components/ConfigFilesSelection/ConfigFileGitCoreSection/ConfigFileGitCoreSection.tsx
  src/modules/70-pipeline/components/ConfigFilesSelection/ConfigFilesWizard/ConfigFilesSteps/ConfigFilesStore.tsx
  src/modules/70-pipeline/components/DeploymentConfigRuntimeInputs/DeploymentConfigRuntimeInputs.tsx
  src/modules/70-pipeline/components/ManifestSelection/DragnDropPaths.tsx
  src/modules/70-pipeline/components/ManifestSelection/GitOps/ReleaseRepoWizard/RepoDetails.tsx
  src/modules/70-pipeline/components/ManifestSelection/GitOps/ReleaseRepoWizard/RepoStore.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85948]:Tas-label-inctances (#19475)
  src/modules/75-cd/components/ServiceDetails/ActiveServiceInstances/ActiveServiceInstancePopover.tsx
  src/modules/75-cd/components/ServiceDetails/__tests__/ActiveServiceInstancePopover.test.tsx
  src/modules/75-cd/components/ServiceDetails/__tests__/mocks.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CODE-1100]: [UI] padding on new nav is not right (#19499)
  src/modules/10-common/navigation/SideNavV2/SideNavV2.module.scss
Due: sh scripts/license/stamp.sh

feat: [CDS-86951]:manifest-values-files-expression (#19462)
  src/modules/70-pipeline/components/ManifestSelection/DragnDropPaths.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestInterface.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/ManifestListViewMultiple.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/__tests__/ManifestListViewMultiple.test.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestListView/__tests__/mock.ts
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/CommonManifestDetails/ManifestDetailsCoreSection.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/HelmWithGIT/HelmWithGIT.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/K8sValuesManifest/K8sValuesManifest.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/KustomizeWithGIT/KustomizeWithGIT.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/OSTemplateWithGit/OSTemplateWithGit.tsx
  src/modules/70-pipeline/components/ManifestSelection/ManifestWizardSteps/OpenShiftParam/OSWithGit.tsx
  src/modules/70-pipeline/components/ManifestSelection/__tests__/__snapshots__/ManifestSelection.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/HelmChartManifestSource/HelmChartManifestSource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/KustomizeManifestSource/KustomizeManifestSource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/KustomizePatchesManifestSource/KustomizePatchesManifestSource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/MultiTypeListOrFileSelectList.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/OpenshiftParamManifestSource/OpenshiftParamManifestSource.tsx
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/OpenshiftTemplateManifestSource/OpenshiftTemplateManifestSource.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84818]: multiline expression input for pipeline - 8 (#19436)
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowUpdate/ServiceNowUpdateStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/StepGroupStep/KubernetesStepGroupInfra.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/StepGroupStep/StepGroupStepInputSetMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/SyncStep/SyncStepBase.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/SyncStep/SyncStepInputSet.tsx
  src/modules/70-pipeline/components/RuntimeApplicationConfig/RuntimeGitApplicationConfig/RuntimeGitApplicationConfigContent.tsx
  src/modules/70-pipeline/components/ServiceHooks/ServiceHooksWizard/ServiceHooksSteps/ServiceHooksStore.tsx
  src/modules/70-pipeline/components/StartupScriptSelection/StartupScriptWizardStepOne.tsx
  src/modules/70-pipeline/components/StartupScriptSelection/StartupScriptWizardStepTwo.tsx
  src/modules/70-pipeline/components/Volumes/Volumes.tsx
  src/modules/70-pipeline/v1/components/RunPipelineModalV1/CICodebaseInputSetFormV1.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-86957]:Fetch-load-balancers-from-propagated-stage (#19491)
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStepEdit.tsx
  src/modules/75-cd/components/PipelineSteps/AsgBlueGreenDeployStep/AsgBlueGreenDeployStepInputSet.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86640]: Fix for branch change no entity found error message (#19497)
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
  src/modules/72-templates-library/components/TemplateStudio/__tests__/TemplateStudioInternal.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PLG-3076]: agent simplification flow (#19353)
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/CDOnboardingWizardWithCLI.module.scss
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/CDOnboardingWizardWithCLI.module.scss.d.ts
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/DeploymentFlowTypes/CreateAgentModal.tsx
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/DeploymentFlowTypes/GitopsFlow.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/services/gitops/index.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-84990]: check modified formik values to render inputs for chained pipeline (#19509)
  src/modules/70-pipeline/components/CommonPipelineStages/PipelineStage/PipelineStageInputSection.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85921]: improve test coverage for AddConditionsSection in triggers (#19405)
  src/modules/72-triggers/components/__tests__/AddConditionsSection/AddConditionsSection.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-86541]: if gitX enforced true then select remote store type by default (#19512)
  src/modules/70-pipeline/components/PipelineStudio/CreateModal/PipelineCreate.tsx
  src/modules/70-pipeline/components/PipelineStudio/__tests__/PipelineCreate.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/__tests__/__snapshots__/PipelineCreate.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh
