Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

.lintstagedrc.yml:

'*': 'sh scripts/license/stamp.sh'
# p1,p2,p3 are dummy extensions to allow multiple commands for the same extensions
'*.{ts,tsx,p1}': 'prettier --check'
'*.{ts,tsx,p2}': 'eslint --rulesdir ./scripts/eslint-rules'
'*.{ts,tsx,p3}': 'sh scripts/typecheck-staged.sh'
'*.scss,p1': 'stylelint --max-warnings 0'
'*.scss,p2': 'prettier --check'
'strings.*.yaml': 'yarn strings:check'
'webpack.devServerProxy.config.js': "echo 'Changes to proxy config should not be committed' && exit 1"
'*.i18n.ts': 'exit 1'

chore: [CDS-78488]: add matrixMetadata information in the stage/step popover in the console and visual view (#19113)
  src/modules/10-common/components/DynamicPopover/DynamicPopover.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStageNode/PipelineStageNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DefaultNode/PipelineStepNode/PipelineStepNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/DiamondNode/DiamondNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/IconNode/IconNode.tsx
  src/modules/70-pipeline/components/PipelineDiagram/Nodes/MatrixNodeNameLabelWrapper.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/ExecutionGraph.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/StageHeader.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/__tests__/StageHeader.test.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/__tests__/stage-mock.json
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/StageSelection.module.scss
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/StageSelection.module.scss.d.ts
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/StageSelection.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/__tests__/StageSelection.test.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/__tests__/mock.ts
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/StepsTree.module.scss
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/StepsTree.module.scss.d.ts
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/StepsTree.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/__tests__/StepsTree.test.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/__tests__/__snapshots__/StepsTree.test.tsx.snap
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StepsTree/utils.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/__tests__/__snapshots__/ExecutionLogView.test.tsx.snap
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/utils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [BG-1286]: add optional chaining for notification utils (#19155)
  src/modules/70-pipeline/components/Notifications/NotificationUtils.ts
  src/modules/70-pipeline/components/Notifications/__tests__/NotificationTable.test.tsx
  src/modules/70-pipeline/components/Notifications/__tests__/__snapshots__/NotificationTable.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10115]: remove renderMultiSelectListItem as it hid any checked tags (#19158)
  src/modules/75-cf/components/FlagActivation/hooks/__tests__/useEditFlagDetailsModal.test.tsx
  src/modules/75-cf/components/FlagActivation/hooks/useEditFlagDetailsModal.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85449]: added detailed message for webhooks create / update error (#19169)
  src/modules/70-pipeline/pages/webhooks/NewWebhookModal.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-78488]: add repeat metadata information in the stage/step popover in the console and visual view (#19173)
  src/modules/70-pipeline/components/ExecutionNodeList/InstanceListPanel.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/StageHeader.module.scss
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/StageHeader.module.scss.d.ts
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/StageHeader.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/__tests__/StageHeader.test.tsx
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionGraphView/ExecutionGraph/components/__tests__/stage-mock.json
  src/modules/70-pipeline/pages/execution/ExecutionPipelineView/ExecutionLogView/StageSelection/__tests__/mock.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PL-42158]: accept and show error message for unauthorized msg (#18815)
  src/framework/app/App.tsx
  src/framework/app/__tests__/App.test.ts
  src/framework/utils/SessionUtils.ts
  src/framework/utils/__tests__/SessionUtils.test.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [IAC-1288]: Fix evaluation status (#19177)
  src/modules/70-pipeline/pages/execution/ExecutionPolicyEvaluationsView/utils.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: FFM-10145: Removing STALE_FLAGS_FFM_1510 from harness-core-ui (#19179)
  src/modules/10-common/featureFlags.ts
  src/modules/75-cf/pages/feature-flags/FeatureFlagsPage.tsx
  src/modules/75-cf/pages/feature-flags/__tests__/FeatureFlagsPage.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [FFM-10144]: Flatten language structure (#19181)
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSection.types.ts
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargetGroups/ServeVariationToTargetGroups.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargetGroups/__tests__/ServeVariationToTargetGroups.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargets/ServeVariationToTargets.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargets/__tests__/ServeVariationToTargets.test.tsx
  src/modules/75-cf/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [FFM-10144]: Store sub-section string identifier with component (#19185)
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/FlagChangesForm.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/SubSections.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/__tests__/SubSections.test.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSection.types.ts
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/DefaultOffRule/DefaultOffRule.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/DefaultOnRule/DefaultOnRule.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServePercentageRolloutToTargetGroup/ServePercentageRolloutToTargetGroup.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargetGroups/ServeVariationToTargetGroups.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/ServeVariationToTargets/ServeVariationToTargets.tsx
  src/modules/75-cf/components/PipelineSteps/FlagConfigurationStep/FlagChangesV2/subSections/SetFlagSwitch/SetFlagSwitch.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

refactor: [CDS-85645]: Optimize getPathFromRange (#19188)
  src/modules/10-common/components/YAMLBuilder/YAMLBuilderUtils.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SRM-16290]: Make PagerDuty ChangeSource templatised (#19172)
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/ChangeSourceDrawer.tsx
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/ChangeSourceDrawer.types.ts
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/components/PagerDutyChangeSource/PagerDutyChangeSource.tsx
  src/modules/85-cv/pages/ChangeSource/ChangeSourceDrawer/components/PagerDutyChangeSource/__tests__/PagerDutyChangeSource.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Service/Service.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85096]:runtime-provisioner-steps (#19178)
  src/modules/70-pipeline/components/LogsContent/LogsState/createSections.ts
  src/modules/70-pipeline/components/PipelineInputSetForm/StageInputSetForm.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [IDP-1451]: infra onboarding api update to v2 (#19189)
  configs/devServerProxy.config.js
  package.json
  src/modules/75-idp/IDPRouteDestination.tsx
  src/modules/75-idp/RouteDestinations.tsx
  src/modules/75-idp/components/IDPAdminSideNav/IDPAdminSideNav.tsx
  src/modules/75-idp/components/IDPAdminSideNav/__test__/IDPAdminSideNav.test.tsx
  src/modules/75-idp/components/IDPSideNav/IDPAdminSideNavLinks.tsx
  src/modules/75-idp/components/IDPSideNav/__test__/IDPAdminSideNavLinks.test.tsx
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85365]: make the branch dropdown disabled on input set list page (#19190)
  src/modules/10-common/components/GitRemoteDetails/GitRemoteDetails.tsx
  src/modules/70-pipeline/pages/pipeline-details/PipelineDetails.tsx
  src/modules/70-pipeline/pages/pipeline-details/__tests__/PipelineDetails.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [PL-42602]: update SAML Provider helper texts (#19167)
  src/modules/27-platform/auth-settings/modals/SAMLProvider/steps/SelectProvider.tsx
  src/modules/27-platform/auth-settings/modals/SAMLProvider/views/SAMLProviderForm.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [PL-42282]: fix delegate tags width (#19194)
  src/modules/27-platform/delegates/pages/delegates/DelegateListingItem.tsx
  src/modules/27-platform/delegates/pages/delegates/__tests__/__snapshots__/DelegateListing.test.tsx.snap
  src/modules/27-platform/delegates/pages/delegates/__tests__/__snapshots__/DelegateListingItem.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85446]:tas-bg-ff-validation (#19175)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/AbstractSteps/Step.tsx
  src/modules/70-pipeline/components/PipelineStudio/StepUtil.ts
  src/modules/70-pipeline/components/RunPipelineModal/RunPipelineForm.tsx
  src/modules/75-cd/components/PipelineSteps/TASBasicAppSetupStep/TASBasicAppSetupTypes.tsx
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/TasBGAppSetup.tsx
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/TasBGAppSetupWidget.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CI-9625]: CI credit card onboarding with trust level (#19118)
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.module.scss
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.module.scss.d.ts
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/BuildInfraSpecifications.tsx
  src/modules/75-ci/components/PipelineStudio/BuildInfraSpecifications/__test__/BuildInfraSpecifications.test.tsx
  src/modules/75-ci/components/PipelineStudio/BuildStageSetupShell/__test__/BuildStageSetupShell.test.tsx
  src/modules/75-ci/pages/get-started-with-ci/GetStartedWithCI.tsx
  src/modules/75-ci/pages/get-started-with-ci/GetStartedWithCICreditCard.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/Constants.ts
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/InfraProvisioningWizard.tsx
  src/modules/75-ci/pages/get-started-with-ci/__tests__/GetStartedWithCI.test.tsx
  src/modules/75-ci/utils/HostedBuildsUtils.ts
  src/services/portal/index.tsx
  src/services/portal/overrides.yaml
  src/services/portal/swagger.json
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82268]: Add support for range decorations in yaml editor (#19139)
  src/modules/10-common/components/YAMLBuilder/YAMLBuilderUtils.tsx
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.module.scss
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.module.scss.d.ts
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.tsx
  src/modules/10-common/interfaces/YAMLBuilderProps.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [PLG-3053]: updating agent id selection from correct propert (#19199)
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/ViewGitopsApp.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85165]: Removing SAAS dependency from Busgnag initialization (#19153)
  src/framework/app/bootstrap.tsx
  src/index.html
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10030]: search in tag attribute modal (#19062)
  src/modules/75-cf/components/TagsAttributeModalBody/TagsAttributeModalBody.module.scss
  src/modules/75-cf/components/TagsAttributeModalBody/TagsAttributeModalBody.tsx
  src/modules/75-cf/components/TagsAttributeModalBody/__tests__/TagsAttributeModalBody.test.tsx
  src/modules/75-cf/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [FFM-10180]: Reverting val code for % rollout (#19204)
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/__tests__/TargetingRulesTab.GitSync.test.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/__tests__/TargetingRulesTab.Governance.test.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/__tests__/TargetingRulesTab.test.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/hooks/useTargetingRulesFormValidation.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CET-2025]: Fixed CET 404 issue for unlicensed accounts (#19183)
  src/modules/RouteDestinations.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85222]: Environment enum clean up (#19165)
  src/modules/10-common/components/ConnectViaOAuth/OAuthUtils.ts
  src/modules/10-common/utils/Constants.ts
  src/modules/75-cd/pages/get-started-with-cd/ConfigureService/ManifestRepoTypes/SelectGitProvider.tsx
  src/modules/75-ci/pages/get-started-with-ci/InfraProvisioningWizard/SelectGitProvider.tsx
  src/modules/75-ci/utils/__test__/HostedBuildsUtils.test.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85623]: remove ff PIE_EXPRESSION_PLAYGROUND (#19205)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/PipelineStudio/PipelineVariables/VariablesHeader/VariablesHeader.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineVariables/__tests__/PipelineVariables.test.tsx
  src/modules/70-pipeline/components/PipelineStudio/PipelineVariables/__tests__/__snapshots__/PipelineVariables.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-84706]: added maxwidth to tabs (#19193)
  src/modules/10-common/components/EntityReference/EntityReference.module.scss
  src/modules/10-common/components/EntityReference/EntityReference.module.scss.d.ts
  src/modules/10-common/components/EntityReference/EntityReference.tsx
  src/modules/27-platform/secrets/components/CreateOrSelectSecret/__tests__/__snapshots__/CreateOrSelectSecret.test.tsx.snap
  src/modules/27-platform/secrets/components/MutiTypeSecretInput/__test__/__snapshots__/MutiTypeSecretInput.test.tsx.snap
  src/modules/27-platform/secrets/components/SecretInput/__test__/__snapshots__/SecretInput.test.tsx.snap
  src/modules/27-platform/secrets/components/SecretReference/__test__/__snapshots__/SecretReference.test.tsx.snap
  src/modules/40-gitsync/components/gitSyncRepoForm/__tests__/__snapshots__/GitSyncRepoForm.test.tsx.snap
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/GitOpsCluster/__tests__/__snapshots__/GitOpsCluster.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83894]: Added failureInfo popover at executionList status cell (#19144)
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/ExecutionListCells.tsx
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/ExecutionListTable.tsx
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/FailureInfoPopover/FailureInfoPopover.module.scss
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/FailureInfoPopover/FailureInfoPopover.module.scss.d.ts
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/FailureInfoPopover/FailureInfoPopover.tsx
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/FailureInfoPopover/__tests__/FailureInfoPopover.test.tsx
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/FailureInfoPopover/__tests__/mock.ts
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/__tests__/ExecutionListTable.test.tsx
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/__tests__/mock.ts
  src/modules/70-pipeline/pages/execution-list/ExecutionListTable/executionListUtils.ts
  src/modules/70-pipeline/pages/pipeline-list/PipelineListTable/PipelineListCells.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CODE-1143]: Code Keyword Search (#19170)
  src/modules/10-common/pages/pageContext/PageName.ts
  src/modules/60-code/CODERouteDestinations.tsx
  src/modules/60-code/RouteDefinitions.ts
  src/modules/60-code/RouteDestinations.tsx
  src/modules/60-code/__test__/CODERouteDestinations.test.tsx
  src/modules/60-code/__test__/RouteDefinitions.test.tsx
  src/modules/60-code/__test__/__snapshots__/CODERouteDestinations.test.tsx.snap
  src/modules/60-code/__test__/__snapshots__/RouteDefinitions.test.tsx.snap
  src/modules/60-code/components/SideNav/CODESideNavLinks.tsx
  src/modules/60-code/components/SideNav/SideNav.tsx
  src/modules/60-code/components/SideNav/__test__/__snapshots__/SideNav.test.tsx.snap
  src/modules/60-code/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [CDS-85369] tooltip version update for service hooks and artifact filter (#19210)
  package.json
  yarn.lock
Due: sh scripts/license/stamp.sh

feat: [CDS-85679]: Show unsaved changes modal, delete pipeline in idb and render yaml editor after initialization (#19202)
  src/modules/70-pipeline/y1/components/PipelineCanvas/PipelineCanvasY1.tsx
  src/modules/70-pipeline/y1/components/PipelineYamlView/PipelineYamlViewY1.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

chore: [CDS-85088]: remove ff PIE_STATIC_YAML_SCHEMA (#19083)
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/utils/conditionalUtils.ts
  src/modules/70-pipeline/components/PipelineStudio/PipelineSchema/PipelineSchemaContext.tsx
  src/modules/72-templates-library/components/TemplateStudio/TemplateYamlView/TemplateYamlView.tsx
  src/modules/72-triggers/components/Triggers/ArtifactTrigger/ArtifactTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/ArtifactTrigger/__tests__/ArtifactTriggerWizard.test.tsx
  src/modules/72-triggers/components/Triggers/ManifestTrigger/ManifestTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/ScheduledTrigger/ScheduledTriggerWizard.tsx
  src/modules/72-triggers/components/Triggers/WebhookTrigger/WebhookTriggerWizard.tsx
  src/modules/72-triggers/pages/triggers/TriggerLandingPage/TriggerDetailPage/TriggerDetailPage.tsx
  src/modules/72-triggers/pages/triggers/TriggersWizardPage.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-78807]: added git webhooks list page jest test (#19212)
  src/modules/70-pipeline/pages/webhooks/NoData.tsx
  src/modules/70-pipeline/pages/webhooks/Webhooks.tsx
  src/modules/70-pipeline/pages/webhooks/__tests__/NoData.test.tsx
  src/modules/70-pipeline/pages/webhooks/__tests__/Webhook.test.tsx
  src/modules/70-pipeline/pages/webhooks/__tests__/WebhookTabs.test.tsx
  src/modules/70-pipeline/pages/webhooks/__tests__/mocks.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85301]: Update NewRelic application field as ID from Name (#19163)
  cypress/integration/85-cv/HealthSource/NewRelic.spec.ts
  cypress/integration/85-cv/HealthSourceTemplates/NewRelicTemplate.spec.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/NewRelicHealthSource.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/NewRelicHealthSource.types.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/NewRelicHealthSource.utils.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/__tests__/NewRelic.mock.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/__tests__/NewRelicHealthSource.test.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/__tests__/NewRelicHealthSourceTemplate.test.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/__tests__/__snapshots__/NewRelicHealthSource.test.tsx.snap
  src/modules/85-cv/pages/health-source/connectors/NewRelic/__tests__/__snapshots__/NewRelicHealthSourceTemplate.test.tsx.snap
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/ApplicationIdDropdown.module.scss
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/ApplicationIdDropdown.module.scss.d.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/ApplicationIdDropdown.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/ApplicationIdDropdown.utils.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/__tests__/ApplicationIdDropdown.test.tsx
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/ApplicationIdDropdown/__tests__/ApplicationIdDropdown.utils.test.ts
  src/modules/85-cv/pages/health-source/connectors/NewRelic/components/MetricPacks/MetricPacks.tsx
  src/modules/85-cv/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [PLG-3068]: updating order of deployment type (#19215)
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/WhatToDeploy.tsx
  src/modules/75-cd/pages/get-started-with-cd/CDOnboardingWizardWithCLI/Steps/WhereAndHowToDeploy.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [PL-43150]: support pipeline executions in Runtime Usage View (#19159)
  src/modules/10-common/pages/entityUsage/__tests__/RuntimeUsageList.test.tsx
  src/modules/10-common/pages/entityUsage/__tests__/mocks/entitySecretRuntimeUsage.json
  src/modules/10-common/pages/entityUsage/utils.tsx
  src/modules/10-common/pages/entityUsage/views/RuntimeUsageView/RuntimeUsageList.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85017]: fixing snow create bugbash observations (#19164)
  src/modules/10-common/hooks/useInfiniteScroll.ts
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowCreate.module.scss
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowCreateStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/ServiceNowTemplateFieldRenderer.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/__tests__/__snapshots__/ServiceNowCreate.test.tsx.snap
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowCreate/helper.ts
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowUpdate/ServiceNowUpdateStepMode.tsx
  src/modules/70-pipeline/components/PipelineSteps/Steps/ServiceNowUpdate/__tests__/__snapshots__/ServiceNowUpdate.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [PLG-3042]: cleaning ff (#18981)
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/auth-settings/pages/subscriptions/__tests__/CIUsageInfo.test.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/CIUsageInfo.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/SubscriptionOverview.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-84072]: Onboard new default setting: skip_fail_fast_validation_checks_for_pipeline_execute on the setting page (#19223)
  src/modules/10-common/constants/Utils.ts
  src/modules/27-platform/default-settings/RouteDestinations.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check
