Repository vigneswara-propelo/harness-core-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, stylelint --max-warnings 0, yarn strings:check, echo 'Changes to proxy config should not be committed' && exit 1, exit 1

.lintstagedrc.yml:

'*': 'sh scripts/license/stamp.sh'
# p1,p2,p3 are dummy extensions to allow multiple commands for the same extensions
'*.{ts,tsx,p1}': 'prettier --check'
'*.{ts,tsx,p2}': 'eslint --rulesdir ./scripts/eslint-rules'
'*.{ts,tsx,p3}': 'sh scripts/typecheck-staged.sh'
'*.scss,p1': 'stylelint --max-warnings 0'
'*.scss,p2': 'prettier --check'
'strings.*.yaml': 'yarn strings:check'
'webpack.devServerProxy.config.js': "echo 'Changes to proxy config should not be committed' && exit 1"
'*.i18n.ts': 'exit 1'

fix: [PL-42961]: refraction tthe code for ip allowlist (#19109)
  src/modules/27-platform/auth-settings/components/CreateIPAllowlist/StepOverview/StepOverview.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-81729]: Add support for code lenses in the yaml editor (#18993)
  src/global.d.ts
  src/modules/10-common/components/MonacoEditor/MonacoEditor.module.scss
  src/modules/10-common/components/YAMLBuilder/YAMLBuilderUtils.tsx
  src/modules/10-common/components/YAMLBuilder/YamlBuilder.tsx
  src/modules/10-common/interfaces/YAMLBuilderProps.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-81231]: added RBAC support for CRUD Input set (#18689)
  src/modules/20-rbac/interfaces/PermissionIdentifier.ts
  src/modules/20-rbac/interfaces/ResourceType.ts
  src/modules/20-rbac/modals/AddResourceModal/useAddResourceModal.module.scss
  src/modules/70-pipeline/RouteDestinations.tsx
  src/modules/70-pipeline/components/RbacResourceModals/InputSetResourceModal/InputSetResourceModal.tsx
  src/modules/70-pipeline/components/RbacResourceModals/InputSetResourceModal/__tests__/InputSetResourceModal.test.tsx
  src/modules/70-pipeline/components/RbacResourceModals/InputSetResourceModal/__tests__/inputSetListMockData.json
  src/modules/70-pipeline/components/RbacResourceModals/InputSetResourceRenderer/InputSetResourceRenderer.tsx
  src/modules/70-pipeline/components/RbacResourceModals/InputSetResourceRenderer/__tests__/InputSetResourceRenderer.test.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-83441]:delegate-name (#19052)
  src/modules/70-pipeline/components/execution/StepDetails/common/StepDetails/StepDetails.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-84069]: Add indexes to sample data API call in datadog logs (#18973)
  src/modules/85-cv/pages/health-source/connectors/DatadogLogsHealthSource/components/DatadogLogsMapToService.tsx
  src/modules/85-cv/pages/health-source/connectors/DatadogLogsHealthSource/components/tests/DatadogLogsMapToService.test.tsx
  src/modules/85-cv/pages/health-source/connectors/DatadogLogsHealthSource/components/tests/mock.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85304]: fix query params of update template api call for nested template reconcile issue (#19111)
  src/modules/70-pipeline/utils/useSaveTemplate.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85086]:bump ng-tooltip version for trigger links (#19104)
  package.json
  yarn.lock
Due: sh scripts/license/stamp.sh

fix: [CDS-83975]: Extend polling for logs call in verify step (#19102)
  src/modules/85-cv/components/ExecutionVerification/ExecutionVerificationView.tsx
  src/modules/85-cv/components/ExecutionVerification/components/ExecutionVerificationSummary/ExecutionVerificationSummary.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysis.constants.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/LogAnalysisView.container.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/__tests__/LogAnalysisContainer.mocks.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/__tests__/LogAnalysisContainer.test.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/ClusterTypeFiltersForLogs.module.scss
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/ClusterTypeFiltersForLogs.module.scss.d.ts
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/ClusterTypeFiltersForLogs.tsx
  src/modules/85-cv/components/ExecutionVerification/components/LogAnalysisContainer/components/ClusterTypeFiltersForLogs.types.ts
  src/modules/85-cv/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [SRM-16208]: Make dependency workload multi select (#19123)
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/Dependency.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/Dependency.utils.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/SelectServiceCard.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/SelectServiceCard.types.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/__tests__/SelectServiceCard.test.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/components/K8sNamespaceAndWorkload/K8sNamespaceAndWorkload.tsx
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/components/K8sNamespaceAndWorkload/K8sNamespaceAndWorkload.types.ts
  src/modules/85-cv/pages/monitored-service/components/Configurations/components/Dependency/component/components/K8sNamespaceAndWorkload/__tests__/K8sNamespaceAndWorkload.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-83878]: webhooks list col spans feedback (#19115)
  src/modules/70-pipeline/pages/webhooks/WebhooksList/WebhooksList.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82823]: Added 'Projects in Org' under org scope in admin side nav (#19119)
  src/modules/10-common/OrgDropdown/OrgDropdown.tsx
  src/modules/10-common/navigation/SideNavV2/SideNavLink/SideNavLink.tsx
  src/modules/10-common/navigation/SideNavs/AdminSideNav/AdminSideNav.tsx
  src/modules/10-common/navigation/SideNavs/AdminSideNav/__tests__/AdminSideNav.test.tsx
  src/modules/45-projects-orgs/AdminRouteDestinations.tsx
  src/modules/45-projects-orgs/components/ProjectCard/ProjectCard.tsx
  src/modules/45-projects-orgs/pages/organizations/OrganizationsPage.tsx
  src/modules/45-projects-orgs/pages/projects/ProjectsPage.tsx
  src/modules/45-projects-orgs/pages/projects/views/ProjectListView/ProjectListView.tsx
  src/modules/RouteDestinationsV2.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85311]: support ArtifactBundle store for TasManifest in overrides (#19116)
  src/modules/70-pipeline/components/ManifestSelection/ManifestInterface.ts
  src/modules/70-pipeline/components/ManifestSelection/__tests__/ManifestSelection.test.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/AddEditServiceOverride.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/ServiceManifestOverride/ServiceManifestOverride.tsx
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/ServiceManifestOverride/ServiceManifestOverrideUtils.ts
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/ServiceManifestOverride/__tests__/ServiceManifestOverride.test.tsx
  src/modules/75-cd/components/ServiceOverrides/components/ListRows/Editable/useManifestOverride.tsx
  src/services/cd-ng/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85271]: New nav - Profile overview link is not visible when the side nav is collapsed (#19124)
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.module.scss
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.module.scss.d.ts
  src/modules/10-common/navigation/SideNavV2/SideNavFooter/SideNavFooter.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-82185]: fixed typecheck issue (#19061)
  src/modules/72-templates-library/components/TemplateFilter/TemplateFilter.tsx
  src/services/template-ng/index.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SEI-4212]: Display the license details in SEI subscription page (#19097)
  package.json
  src/modules/10-common/strings/strings.en.yaml
  src/modules/27-platform/auth-settings/pages/AccountOverview/views/SubscribedModules.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/SubscriptionsPage.tsx
  src/modules/27-platform/auth-settings/pages/subscriptions/overview/SubscriptionUtils.tsx
  src/modules/45-projects-orgs/components/ModuleRenderer/DefaultRenderer.tsx
  src/modules/45-projects-orgs/modals/ModuleSelect/useModuleSelect.tsx
  src/modules/45-projects-orgs/utils/utils.ts
  src/modules/75-sei/RouteDestinations.tsx
  src/modules/75-sei/RouteDestinationsV2.tsx
  src/modules/75-sei/SideNav/NavV2/SEISideNavLinks.tsx
  src/modules/75-sei/strings/strings.en.yaml
  src/stringTypes.ts
  yarn.lock
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-81667]: change validation for existingVersionToKeep, do not allow values less than 0 (#19128)
  src/modules/75-cd/components/PipelineSteps/TASBasicAppSetupStep/TasBasicAppSetupInputSet.tsx
  src/modules/75-cd/components/PipelineSteps/TASBasicAppSetupStep/__tests__/TasBasicAppSetupStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/TASBasicAppSetupStep/__tests__/__snapshots__/TasBasicAppSetupStep.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/TasBGAppSetup.tsx
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/TasBGAppSetupWidget.tsx
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/__tests__/TasBGAppSetupStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/TasBGAppSetup/__tests__/__snapshots__/TasBGAppSetupStep.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/TasCanaryAppSetup/__tests__/TasCanaryAppSetupStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/TasCanaryAppSetup/__tests__/__snapshots__/TasCanaryAppSetupStep.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85349]: add pipeline and stage timeout default setting behind CDS_DISABLE_MAX_TIMEOUT_CONFIG FF + remove step timeout (#19129)
  src/modules/10-common/constants/Utils.ts
  src/modules/10-common/featureFlags.ts
  src/modules/27-platform/default-settings/RouteDestinations.tsx
  src/modules/27-platform/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

fix: [PL-41518]: fix project/org resource group issues (#18589)
  src/modules/20-rbac/components/ResourceTypeList/ResourceTypeList.tsx
  src/modules/20-rbac/components/ResourcesCard/ResourcesCard.tsx
  src/modules/20-rbac/components/ResourcesCard/tests/ResourcesCard.test.tsx
  src/modules/20-rbac/components/ResourcesCardList/ResourcesCardList.tsx
  src/modules/20-rbac/pages/ResourceGroupDetails/ResourceGroupDetails.tsx
  src/modules/20-rbac/pages/ResourceGroupDetails/__tests__/__snapshots__/ResourceGroupDetails.test.tsx.snap
  src/modules/45-projects-orgs/components/ProjectResourceModalBody/ProjectResourceModalBody.tsx
  src/modules/45-projects-orgs/components/ProjectResourceModalBody/__tests__/__snapshots__/ProjectResourceModalBody.test.tsx.snap
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-83567]: run eslint in quiet mode and added a debug flag to check verbose output if it still runs into OOM (#19130)
  package.json
Due: sh scripts/license/stamp.sh

feat: [CDS-84973]:branch-param (#19122)
  src/modules/75-cd/components/PipelineSteps/K8sServiceSpec/ManifestSource/HelmChartManifestSource/HelmChartManifestSource.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-83239]: Add safety check for template type (#18778)
  src/modules/72-templates-library/components/TemplateStudio/TemplateStudioInternal.tsx
  src/modules/72-templates-library/components/TemplateStudio/__tests__/TemplateStudioInternal.test.tsx
  src/modules/72-templates-library/components/TemplateStudio/__tests__/__mock__/ templateDiffMockData.json
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

techdebt: [PL-39227]: do not allow internal snapshots of more than 25 lines and do not allow external snapshots at all (#18889)
  .eslintrc.yml
  .husky/no-external-snapshots
  .husky/pre-commit
  src/modules/70-pipeline/components/RunPipelineModal/__tests__/useInputSets.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83636]: including cache header (#19134)
  src/modules/70-pipeline/components/InputSetForm/FormikInputSetForm.tsx
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployEnvironment/useGetEnvironmentsData.ts
  src/modules/75-cd/components/PipelineSteps/DeployEnvironmentEntityStep/DeployInfrastructure/useGetInfrastructuresData.ts
  src/modules/75-cd/components/PipelineSteps/DeployServiceEntityStep/useGetServicesData.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85391]:eks-runtime-provisioner (#19136)
  src/modules/75-cd/components/PipelineSteps/K8sAwsInfrastructureSpec/K8sAwsInfrastructureSpec.tsx
  src/modules/75-cd/components/PipelineSteps/K8sAwsInfrastructureSpec/K8sAwsInfrastructureSpecInputForm.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [FFM-10031]: rbac permissions tags (#19126)
  src/modules/75-cf/components/EditFlagTabs/__tests__/FlagToggleSwitch.test.tsx
  src/modules/75-cf/hooks/__tests__/useFeatureEnabled.test.tsx
  src/modules/75-cf/hooks/useFeatureEnabled.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/TargetingRulesTab.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/components/disabled-feature-tooltip/DisabledFeatureTooltip.tsx
  src/modules/75-cf/pages/feature-flags-detail/targeting-rules-tab/components/disabled-feature-tooltip/__tests__/DisabledFeatureTooltip.test.tsx
  src/modules/75-cf/pages/feature-flags/__tests__/RenderFeatureFlag.test.tsx
  src/modules/75-cf/pages/feature-flags/components/RenderFeatureFlag.module.scss
  src/modules/75-cf/pages/feature-flags/components/RenderFeatureFlag.module.scss.d.ts
  src/modules/75-cf/pages/feature-flags/components/RenderFeatureFlag.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83891]: Saving viewtype on environments page to the preference store (#19132)
  src/modules/75-cd/components/EnvironmentsV2/Environments.tsx
  src/modules/75-cd/components/EnvironmentsV2/PageTemplate/PageTemplate.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: custom git connectors repo name population (#19143)
  src/modules/70-pipeline/components/PipelineInputSetForm/CICodebaseInputSetForm.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85013]:k8sapply-tempalte-step-default-deployment-type (#19146)
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sOverrideValuesListView.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-85298]: Update duplicate value of EcsTaskDefinition to EcsServiceDefinition (#19147)
  src/modules/75-cd/components/EnvironmentsV2/EnvironmentDetails/ServiceOverrides/ServiceManifestOverride/ServiceManifestOverride.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-82452] tooltip version update for harness approvals (#19131)
  package.json
  yarn.lock
Due: sh scripts/license/stamp.sh

fix: [CDS-85302]: Set onDelegate value to true on Script Type change for Shell Script (#19112)
  src/modules/72-templates-library/components/TemplateStudio/__tests__/stateMock.ts
  src/modules/75-cd/components/BaseScript/BaseScript.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/OptionalConfiguration.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptInputSetStep.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptStep.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/ShellScriptWidget.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ExecutionTargetGroup.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ShellScriptInputSetStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/ShellScriptStep.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/__snapshots__/ExecutionTargetGroup.test.tsx.snap
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/__test__/exportvars.test.tsx
  src/modules/75-cd/components/PipelineSteps/ShellScriptStep/helper.ts
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateCanvas.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/BaseScriptForm.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/OptionalConfigurations.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/ScriptTemplateForm.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/BaseScriptForm.test.tsx
  src/modules/75-cd/components/ScriptTemplateCanvas/ScriptTemplateForm/__tests__/__snapshots__/OptionalConfiguration.test.tsx.snap
  src/modules/75-cd/components/ScriptTemplateCanvas/__tests__/ScriptTemplateCanvas.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-83795]:Asg-bg-startegy-traffic-shift (#18949)
  src/modules/10-common/featureFlags.ts
  src/modules/70-pipeline/components/PipelineStudio/ExecutionStrategy/ExecutionStrategy.tsx
  src/modules/70-pipeline/components/PipelineStudio/ExecutionStrategy/__tests__/ExecutionStrategy.test.tsx
  src/modules/70-pipeline/strings/strings.en.yaml
  src/services/cd-ng/index.tsx
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [CDS-85318]:k8sapply-remote-bag-bush-fixes (#19154)
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sApplyStep.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sInterface.ts
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/K8sRemote.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/K8sRemoteManifest.tsx
  src/modules/75-cd/components/PipelineSteps/K8sApply/K8sRemoteManifest/__tests__/K8sRemoteManifest.test.tsx
  src/modules/75-cd/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check

feat: [STO-6705]: remove FFs (#18898)
  src/modules/10-common/featureFlags.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

fix: [CDS-77667]: Ignore notifying monaco worker errors to bugsnag (#19156)
  src/framework/app/Utils.ts
  src/framework/app/__tests__/Utils.test.ts
  src/framework/app/bootstrap.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [SEI-4181]: Display all side nav links (#19148)
  src/modules/75-sei/SideNav/NavV1/SEISideNav.tsx
  src/modules/75-sei/SideNav/NavV2/SEISideNavLinks.tsx
  src/modules/75-sei/SideNav/NavV2/SEISideNavLinks.utils.ts
  src/modules/75-sei/SideNav/NavV2/__tests__/SEISideNavLinks.test.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

Branching to release/0.372.0. New version 0.373.x
  package.json
Due: sh scripts/license/stamp.sh

fix: [PL-41518]: fix FF Resource Group issues (#19160)
  src/modules/20-rbac/components/ResourcesCard/ResourcesCard.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: CCM-15016: Removed ccm MFE flag (#19127)
  src/modules/10-common/featureFlags.ts
  src/modules/75-ce/RouteDestinations.tsx
  src/modules/75-ce/RouteDestinationsV2.tsx
  src/modules/75-ce/pages/home/CETrialHomePage.tsx
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh

feat: [CDS-85267]: AIDA Support Deflection (#19140)
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModal.tsx
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/AIDASupportStep.tsx
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/SubmitTicketModalStepTwo.tsx
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/SubmitTicketModalSteps.module.scss
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/SubmitTicketModalSteps.module.scss.d.ts
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/SuggestionsPanel.tsx
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/__tests__/AIDAResponse.mock.json
  src/modules/10-common/components/ResourceCenter/SubmitTicketModal/SubmitTicketModalSteps/__tests__/AIDASupportStep.test.tsx
  src/modules/10-common/constants/TrackingConstants.ts
  src/modules/10-common/featureFlags.ts
  src/modules/10-common/strings/strings.en.yaml
  src/stringTypes.ts
Due: sh scripts/license/stamp.sh, prettier --check, eslint --rulesdir ./scripts/eslint-rules, sh scripts/typecheck-staged.sh, yarn strings:check
